In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import math
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

#### 读入数据

In [4]:
model = pd.read_csv("C:\\Users\\chenxiaoyan\\Desktop\\model.csv"

#### 所有小于0的数处理为np.nan

In [5]:
def rep(x):
    """ 查找数值型的小于0的值并置为空 """
    if type(x) !=str and x < 0:
        return np.nan
    return x

In [6]:
model_df = model.applymap(rep)
model_df.shape

(13890, 1269)

#### 计算变量缺失率并且将缺失率大于0.75的变量删除

In [7]:
def Missing_rate(x):
    """计算每一个变量的缺失率"""
    Missing_rate = 1-x.count()/len(x)
    return Missing_rate

In [8]:
model_df.apply(Missing_rate,axis = 0)#drop掉缺失率大于75%的变量
model_df  = model_df.drop(list(model_df.apply(Missing_rate,axis = 0)[model_df.apply(Missing_rate,axis = 0)>=0.8].index),axis = 1)
model_df.shape

(13890, 845)

In [9]:
a = model_df.apply(lambda x : 1-x.count()/len(x),axis = 0) #计算缺失率的lambda表达式

#### 单一度-变量取值最大占比

In [10]:
def max_percent(x):
    max_percent = x.value_counts(normalize=True,dropna=False).max()
    return max_percent

In [11]:
model_df=model_df.drop(list(model_df.apply(max_percent,axis = 0)[model_df.apply(max_percent,axis = 0)>=0.9].index),axis = 1)
model_df.shape

(13890, 756)

#### 划分训练集和测试集

In [12]:
train_ ,test=train_test_split(model_df,test_size=0.2,stratify =np.array(model_df['openmonth'],model_df['default']),random_state = 1)

In [13]:
print(train_.shape,test.shape)

(11112, 756) (2778, 756)

In [14]:
train = train_[~train_['default'].isin([0.5,2])]#删除掉default=0.5和2的行
test['default']  = test['default'].replace({0.5:0,2:1})#将test数据集中的0.5换成0,2换成1

D:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
print(train['default'].value_counts(normalize=True,dropna=False))
print(test['default'].value_counts(normalize=True,dropna=False))

0.0    0.888426
1.0    0.111574
Name: default, dtype: float64
0.0    0.861411
1.0    0.138589
Name: default, dtype: float64

In [16]:
print(train['default'].value_counts(dropna=False))

0.0    8743
1.0    1098
Name: default, dtype: int64

#### 字符型分箱

In [17]:
def char_bin(x):
    """字符型变量分箱"""
    total_char = pd.DataFrame()
    for char in x:
        g = train.groupby(train[char])
        n = len(train)
        good_n = len(train[train['default'].isin([0.0])])
        bad_n = len(train[train['default'].isin([1.0])])
        value = list(g.groups.keys())

        var_name = []
        bin_n = []
        bin_good_n = []
        bin_bad_n = []
        bin_rate = []
        bad_rate = []
        good_rate = []
        woe = []
        pre_iv = []
        iv = []
        for i in range(0,len(g.groups)):
            
            var_name1 =char
            bin_n1 = len(g.get_group(value[i]))
            bin_good_n1 = len(g.get_group(value[i])[g.get_group(value[i])['default'].isin([0.0])])
            bin_bad_n1 = len(g.get_group(value[i])[g.get_group(value[i])['default'].isin([1.0])])
            bin_rate1 = '{:.2%}'.format(bin_bad_n1/bad_n)
            bad_rate1 = '{:.2%}'.format(bin_bad_n1/bin_n1)
            good_rate1 = '{:.2%}'.format(bin_good_n1/bin_n1)
            
            woe1 = np.log((bin_bad_n1/bad_n)/(bin_good_n1/good_n))
       
            pre_iv1 = woe1 * (bin_bad_n1/bad_n)/(bin_good_n1/good_n)
            
    
            bin_n.append(bin_n1)
            bin_good_n.append(bin_good_n1)
            bin_bad_n.append(bin_bad_n1)
            var_name.append(var_name1)
            bin_rate.append(bin_rate1)
            bad_rate.append(bad_rate1)
            good_rate.append(good_rate1)
            woe.append(woe1)
            pre_iv.append(pre_iv1)   
            iv1 = sum(pre_iv)
            iv.append(iv1)
            
            
                
        cols = ['var_name','value','bin_n','bin_good_n','bin_bad_n','bin_rate','bad_rate','woe','pre_iv','iv']
        char1 = pd.DataFrame(np.array([var_name,value,bin_n,bin_good_n,bin_bad_n,bin_rate,bad_rate,woe,pre_iv,iv]).T,columns =cols)
        total_char= total_char.append(char1,ignore_index=False)
    return total_char

In [18]:
char_bin(['education','marriage','show_first_name','marriage_gender_status','age_gender_status','house_product_type','show_first_name','gender','marriage_age_gender_status','marriage_age_gender_status'])
#char_bin(['marriage_age_gender_status'])
#解决除数为0的方法 ；log(0)  的方法  - 用np.log() 
#def func(x):
 #   try:
  #      return 1 / x
   # except ZeroDivisionError:
    #    return np.nan

D:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: RuntimeWarning: divide by zero encountered in log
D:\Program Files\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: RuntimeWarning: invalid value encountered in double_scalars

,var_name,value,bin_n,bin_good_n,bin_bad_n,bin_rate,bad_rate,woe,pre_iv,iv
0,education,1,61,57,4,0.36%,6.56%,-0.5819938696032445,-0.32520834703870943,-0.32520834703870943
1,education,2,1698,1552,146,13.30%,8.60%,-0.2889300419234126,-0.21642726821394678,-0.5416356152526562
2,education,3,5902,5250,652,59.38%,11.05%,-0.011175756547601612,-0.011051554332758076,-0.5526871695854143
3,education,4,2014,1745,269,24.50%,13.36%,0.20496458207672677,0.2515902509668766,-0.3010969186185377
4,education,5,166,139,27,2.46%,16.27%,0.4361259699850522,0.6745576168615364,0.37346069824299866
0,marriage,1,2352,2099,253,23.04%,10.76%,-0.041063793981697815,-0.03941171133961872,-0.03941171133961872
1,marriage,2,6414,5753,661,60.20%,10.31%,-0.08895985990019206,-0.08138780090437929,-0.12079951224399801
2,marriage,3,1016,841,175,15.94%,17.22%,0.504957351061981,0.8366713352551147,0.7158718230111167
3,marriage,4,30,24,6,0.55%,20.00%,0.6884686759915244,1.3705103902991569,2.086382213310274
4,marriage,5,29,26,3,0.27%,10.34%,-0.08472121224195737,-0.07783917177715777,2.008543041533116
0,show_first_name,773,500,450,50,4.55%,10.00%,-0.12246154022480432,-0.10834661467167214,-0.10834661467167214
1,show_first_name,774,10,7,3,0.27%,30.00%,1.2274651767242115,4.188808758821148,4.080462144149476
2,show_first_name,775,378,346,32,2.91%,8.47%,-0.3059398351465827,-0.22530355590819437,3.8551585882412818
3,show_first_name,776,130,116,14,1.28%,10.77%,-0.03976982437969095,-0.0382192233820342,3.816939364859248
4,show_first_name,777,1142,983,159,14.48%,13.92%,0.25305811918448,0.3259282618992411,4.1428676267584885
5,show_first_name,778,340,303,37,3.37%,10.88%,-0.028051855753729586,-0.027275883753929253,4.115591743004559
6,show_first_name,779,1843,1607,236,21.49%,12.81%,0.1564704763995125,0.18297285698950363,4.298564599994063
7,show_first_name,780,60,58,2,0.18%,3.33%,-1.292532792875059,-0.35489649544961493,3.9436681045444484
8,show_first_name,781,3192,2867,325,29.60%,10.18%,-0.1024332464422173,-0.0924601818870977,3.8512079226573506
9,show_first_name,782,999,893,106,9.65%,10.61%,-0.05638444965301683,-0.05329321130705995,3.7979147113502907
10,show_first_name,783,503,447,56,5.10%,11.13%,-0.0024438667670045075,-0.002437901574266702,3.795476809776024
11,show_first_name,784,549,489,60,5.46%,10.93%,-0.02325489014135628,-0.02272033977067931,3.7727564700053446
12,show_first_name,785,195,177,18,1.64%,9.23%,-0.2110149375662493,-0.1708718717367526,3.601884598268592
0,marriage_gender_status,11,483,449,34,3.10%,7.04%,-0.5058993260146779,-0.3050386113033521,-0.3050386113033521
1,marriage_gender_status,12,1706,1530,176,16.03%,10.32%,-0.0877759822369144,-0.08039981941898657,-0.38543843072233863
2,marriage_gender_status,13,284,240,44,4.01%,15.49%,0.3783137476876849,0.5522703105095282,0.1668318797871896
3,marriage_gender_status,14,15,11,4,0.36%,26.67%,1.063162125432935,3.0783992259182487,3.245231105705438
4,marriage_gender_status,21,1869,1650,219,19.95%,11.72%,0.0553042000332896,0.058448910953877664,3.3036800166593157
5,marriage_gender_status,22,4737,4249,488,44.44%,10.30%,-0.08936049715024946,-0.08172158955933485,3.2219584270999806
6,marriage_gender_status,23,732,601,131,11.93%,17.90%,0.551365425777359,0.9569615564857902,4.178919983585771
...,...,...,...,...,...,...,...,...,...,...
14,marriage_age_gender_status,311.0,1,1,0,0.00%,0.00%,-inf,nan,nan
15,marriage_age_gender_status,312.0,16,13,3,0.27%,18.75%,0.6084259683179879,1.118005094788602,nan
16,marriage_age_gender_status,321.0,200,174,26,2.37%,13.00%,0.17380427591836817,0.20679626694937306,nan
17,marriage_age_gender_status,322.0,1109,996,113,10.29%,10.19%,-0.10159640176084267,-0.09178158854657278,nan
18,marriage_age_gender_status,331.0,73,59,14,1.28%,19.18%,0.6362829228209542,1.2022213318380173,nan
19,marriage_age_gender_status,332.0,273,232,41,3.73%,15.02%,0.3415977321494129,0.48069431827254494,nan
20,marriage_age_gender_status,341.0,11,7,4,0.36%,36.36%,1.5151472491759925,6.8940579753035145,nan
21,marriage_age_gender_status,342.0,12,10,2,0.18%,16.67%,0.4653251246773146,0.7410450938167144,nan
0,marriage_age_gender_status,111.0,454,423,31,2.82%,6.83%,-0.5386219374497166,-0.3143138385562597,-0.3143138385562597
1,marriage_age_gender_status,112.0,1732,1531,201,18.31%,11.61%,0.04439154951280704,0.046406552853347084,-0.2679072857029126
2,marriage_age_gender_status,121.0,920,832,88,8.01%,9.57%,-0.17173258923158713,-0.14463393498817279,-0.4125412206910854
3,marriage_age_gender_status,122.0,2058,1841,217,19.76%,10.54%,-0.06340379058120332,-0.05950854153280862,-0.472049762223894
4,marriage_age_gender_status,131.0,90,79,11,1.00%,12.22%,0.103210457442764,0.11443198593118604,-0.35761777629270797
5,marriage_age_gender_status,132.0,166,130,36,3.28%,21.69%,0.7907475251119428,1.7436331934561706,1.3860154171634627
6,marriage_age_gender_status,211.0,22,19,3,0.27%,13.64%,0.22893634661308435,0.28783297072737946,1.6738483878908421
7,marriage_age_gender_status,212.0,86,73,13,1.18%,15.12%,0.3492529534245607,0.49524342432420276,2.169091812215045
8,marriage_age_gender_status,221.0,499,447,52,4.74%,10.42%,-0.07655183892072634,-0.07091034306745098,2.098181469147594
9,marriage_age_gender_status,222.0,1345,1219,126,11.48%,9.37%,-0.19474118541837857,-0.16028127447639406,1.9379001946712
10,marriage_age_gender_status,231.0,104,88,16,1.46%,15.38%,0.3700149448729898,0.5356914494162195,2.4735916440874197
11,marriage_age_gender_status,232.0,252,209,43,3.92%,17.06%,0.49362890084016653,0.8086877909463913,3.282279435033811
12,marriage_age_gender_status,241.0,4,4,0,0.00%,0.00%,-inf,nan,nan
13,marriage_age_gender_status,242.0,3,3,0,0.00%,0.00%,-inf,nan,nan
14,marriage_age_gender_status,311.0,1,1,0,0.00%,0.00%,-inf,nan,nan
15,marriage_age_gender_status,312.0,16,13,3,0.27%,18.75%,0.6084259683179879,1.118005094788602,nan
16,marriage_age_gender_status,321.0,200,174,26,2.37%,13.00%,0.17380427591836817,0.20679626694937306,nan
17,marriage_age_gender_status,322.0,1109,996,113,10.29%,10.19%,-0.10159640176084267,-0.09178158854657278,nan
18,marriage_age_gender_status,331.0,73,59,14,1.28%,19.18%,0.6362829228209542,1.2022213318380173,nan
19,marriage_age_gender_status,332.0,273,232,41,3.73%,15.02%,0.3415977321494129,0.48069431827254494,nan
20,marriage_age_gender_status,341.0,11,7,4,0.36%,36.36%,1.5151472491759925,6.8940579753035145,nan
21,marriage_age_gender_status,342.0,12,10,2,0.18%,16.67%,0.4653251246773146,0.7410450938167144,nan

#### 离散型变量分箱

##### 等频分箱

In [19]:
train.head()

,default,id,wdxh_flag_code,currentLoanOrgCount,currentLoanCount,m12LoanOrgCount,m12LoanCount,j1_repay_uno_num,j1_6m_judai_num,j1_3m_judai_num,...,td_petLnQry_2y,td_petLnQry_3m,td_petLnQry_6m,td_petLnQry_7d,td_propInsQry_18m,td_propInsQry_1y,td_propInsQry_2y,td_propInsQry_3m,td_propInsQry_6m,openmonth
13331,0.0,GD1811010810015950,2.0,NaN,NaN,NaN,NaN,1,1,0,...,4.0,2.0,4.0,1.0,1.0,1.0,1.0,0.0,1.0,43252
12352,0.0,GD1837020201095650,2.0,NaN,NaN,NaN,NaN,2,0,0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,43252
12148,0.0,GD1850010702077450,2.0,NaN,NaN,NaN,NaN,0,0,0,...,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,43252
2645,0.0,GD1833048102034870,NaN,1.0,1.0,1.0,1.0,1,1,1,...,7.0,5.0,6.0,4.0,0.0,0.0,0.0,0.0,0.0,43221
11299,1.0,GD1833010401070330,NaN,2.0,7.0,2.0,7.0,0,0,0,...,5.0,5.0,5.0,4.0,1.0,1.0,1.0,0.0,1.0,43252

In [20]:
train_bin = train.copy() #train_bin初始分箱的数据集
train_bin.head()

,default,id,wdxh_flag_code,currentLoanOrgCount,currentLoanCount,m12LoanOrgCount,m12LoanCount,j1_repay_uno_num,j1_6m_judai_num,j1_3m_judai_num,...,td_petLnQry_2y,td_petLnQry_3m,td_petLnQry_6m,td_petLnQry_7d,td_propInsQry_18m,td_propInsQry_1y,td_propInsQry_2y,td_propInsQry_3m,td_propInsQry_6m,openmonth
13331,0.0,GD1811010810015950,2.0,NaN,NaN,NaN,NaN,1,1,0,...,4.0,2.0,4.0,1.0,1.0,1.0,1.0,0.0,1.0,43252
12352,0.0,GD1837020201095650,2.0,NaN,NaN,NaN,NaN,2,0,0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,43252
12148,0.0,GD1850010702077450,2.0,NaN,NaN,NaN,NaN,0,0,0,...,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,43252
2645,0.0,GD1833048102034870,NaN,1.0,1.0,1.0,1.0,1,1,1,...,7.0,5.0,6.0,4.0,0.0,0.0,0.0,0.0,0.0,43221
11299,1.0,GD1833010401070330,NaN,2.0,7.0,2.0,7.0,0,0,0,...,5.0,5.0,5.0,4.0,1.0,1.0,1.0,0.0,1.0,43252

In [21]:
def pct_rank_qcut(series,n):
   
    """离散型变量分箱"""
    edages = pd.Series([i/10 for i in range(n)]) #生成分位数
    
    func = lambda x:(edages >= x).idxmax() #argmax()返回最大值对应的索引,索引从0开始计算； func函数：输入x输出，输出百分位数对应的索引值
    train_bin[series + '_bin' ] = train_bin[series].rank(na_option = 'top',pct=True).astype(float).apply(func)
    return train_bin
    
    #rank()排序函数，每一个数在向量中的排序，相同的数，取平均；na_option：缺失值的排名处理；pct:布尔型，默认以1开始的数输出排名，pct = True 以百分比的排名输出

In [22]:
for i in (train_bin.columns.drop(['default','id'])):
    pct_rank_qcut(i,11)

In [23]:
print (train_bin.shape)
print (train.shape)
train_bin.head()
train_bin.to_csv("C:\\Users\\chenxiaoyan\\Desktop\\a.csv")

(9841, 1510)
(9841, 756)

In [24]:
train_bin.head()

,default,id,wdxh_flag_code,currentLoanOrgCount,currentLoanCount,m12LoanOrgCount,m12LoanCount,j1_repay_uno_num,j1_6m_judai_num,j1_3m_judai_num,...,td_petLnQry_2y_bin,td_petLnQry_3m_bin,td_petLnQry_6m_bin,td_petLnQry_7d_bin,td_propInsQry_18m_bin,td_propInsQry_1y_bin,td_propInsQry_2y_bin,td_propInsQry_3m_bin,td_propInsQry_6m_bin,openmonth_bin
13331,0.0,GD1811010810015950,2.0,NaN,NaN,NaN,NaN,1,1,0,...,8,6,9,5,9,9,8,5,9,8
12352,0.0,GD1837020201095650,2.0,NaN,NaN,NaN,NaN,2,0,0,...,2,3,2,2,4,4,4,5,4,8
12148,0.0,GD1850010702077450,2.0,NaN,NaN,NaN,NaN,0,0,0,...,5,6,5,2,4,4,4,5,4,8
2645,0.0,GD1833048102034870,NaN,1.0,1.0,1.0,1.0,1,1,1,...,10,10,10,10,4,4,4,5,4,3
11299,1.0,GD1833010401070330,NaN,2.0,7.0,2.0,7.0,0,0,0,...,9,10,10,10,9,9,8,5,9,8

In [25]:
def num_bin(indata,var_old,var_new):
    """连续型变量分箱"""
    total_num = pd.DataFrame()
    for num,num1 in zip(var_new,var_old):
        g = indata[[num1,num,'default']].groupby(indata[num])
        n = len(indata)
        good_n = len(indata[train_bin['default'].isin([0.0])])
        bad_n = len(indata[indata['default'].isin([1.0])])
        value_ = list(g.max()[num1])
        value = list(g.groups.keys())
        
        var_name = []
        bin_n = []
        bin_good_n = []
        bin_bad_n = []
        bin_rate = []
        bad_rate = []
        good_rate = []
        woe = []
        pre_iv = []
        iv = []
        for i in range(0,len(g.groups)):
            
            var_name1 =num
            bin_n1 = len(g.get_group(value[i]))
            bin_good_n1 = len(g.get_group(value[i])[g.get_group(value[i])['default'].isin([0.0])])
            bin_bad_n1 = len(g.get_group(value[i])[g.get_group(value[i])['default'].isin([1.0])])
            bin_rate1 = '{:.2%}'.format(bin_bad_n1/bad_n)
            bad_rate1 = '{:.2%}'.format(bin_bad_n1/bin_n1)
            good_rate1 = '{:.2%}'.format(bin_good_n1/bin_n1)
            
            woe1 = np.log((bin_bad_n1/bad_n)/(bin_good_n1/good_n))
       
            pre_iv1 = woe1 * (bin_bad_n1/bad_n)/(bin_good_n1/good_n)
            
    
            bin_n.append(bin_n1)
            bin_good_n.append(bin_good_n1)
            bin_bad_n.append(bin_bad_n1)
            var_name.append(var_name1)
            bin_rate.append(bin_rate1)
            bad_rate.append(bad_rate1)
            good_rate.append(good_rate1)
            woe.append(woe1)
            pre_iv.append(pre_iv1)   
            iv1 = sum(pre_iv)
            iv.append(iv1)
            
            
                
        cols = ['var_name','value','value_','bin_n','bin_good_n','bin_bad_n','bin_rate','bad_rate','woe','pre_iv','iv']
        num1 = pd.DataFrame(np.array([var_name,value_,value,bin_n,bin_good_n,bin_bad_n,bin_rate,bad_rate,woe,pre_iv,iv]).T,columns =cols)
        total_num= total_num.append(num1,ignore_index=False)
    return total_num

In [26]:
train_bin.head()
#y = train_bin.iloc[:,2:756].columns
#x = train_bin.iloc[:,756:].columns
result  = num_bin(train_bin, train_bin.iloc[:,2:756].columns,train_bin.iloc[:,756:].columns)

In [27]:
result.to_csv("C:\\Users\\chenxiaoyan\\Desktop\\woe.csv")

#### 将手工分箱变量导入,映射新的分组

In [28]:
train1 = train.copy()#手工分箱后的数据集1
train1.head()

,default,id,wdxh_flag_code,currentLoanOrgCount,currentLoanCount,m12LoanOrgCount,m12LoanCount,j1_repay_uno_num,j1_6m_judai_num,j1_3m_judai_num,...,td_petLnQry_2y,td_petLnQry_3m,td_petLnQry_6m,td_petLnQry_7d,td_propInsQry_18m,td_propInsQry_1y,td_propInsQry_2y,td_propInsQry_3m,td_propInsQry_6m,openmonth
13331,0.0,GD1811010810015950,2.0,NaN,NaN,NaN,NaN,1,1,0,...,4.0,2.0,4.0,1.0,1.0,1.0,1.0,0.0,1.0,43252
12352,0.0,GD1837020201095650,2.0,NaN,NaN,NaN,NaN,2,0,0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,43252
12148,0.0,GD1850010702077450,2.0,NaN,NaN,NaN,NaN,0,0,0,...,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,43252
2645,0.0,GD1833048102034870,NaN,1.0,1.0,1.0,1.0,1,1,1,...,7.0,5.0,6.0,4.0,0.0,0.0,0.0,0.0,0.0,43221
11299,1.0,GD1833010401070330,NaN,2.0,7.0,2.0,7.0,0,0,0,...,5.0,5.0,5.0,4.0,1.0,1.0,1.0,0.0,1.0,43252

In [29]:
train1 = train1.fillna(-99)

In [30]:
train1.head()

,default,id,wdxh_flag_code,currentLoanOrgCount,currentLoanCount,m12LoanOrgCount,m12LoanCount,j1_repay_uno_num,j1_6m_judai_num,j1_3m_judai_num,...,td_petLnQry_2y,td_petLnQry_3m,td_petLnQry_6m,td_petLnQry_7d,td_propInsQry_18m,td_propInsQry_1y,td_propInsQry_2y,td_propInsQry_3m,td_propInsQry_6m,openmonth
13331,0.0,GD1811010810015950,2.0,-99.0,-99.0,-99.0,-99.0,1,1,0,...,4.0,2.0,4.0,1.0,1.0,1.0,1.0,0.0,1.0,43252
12352,0.0,GD1837020201095650,2.0,-99.0,-99.0,-99.0,-99.0,2,0,0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,43252
12148,0.0,GD1850010702077450,2.0,-99.0,-99.0,-99.0,-99.0,0,0,0,...,2.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,43252
2645,0.0,GD1833048102034870,-99.0,1.0,1.0,1.0,1.0,1,1,1,...,7.0,5.0,6.0,4.0,0.0,0.0,0.0,0.0,0.0,43221
11299,1.0,GD1833010401070330,-99.0,2.0,7.0,2.0,7.0,0,0,0,...,5.0,5.0,5.0,4.0,1.0,1.0,1.0,0.0,1.0,43252

In [31]:
config = pd.read_excel("C:\\Users\\chenxiaoyan\\Desktop\\config.xlsx")
config

                  varname  min    max  bin
0                in_month -100     -1    0
1                in_month    0     20    1
2                in_month   21    119    2
3                in_month  120  99999    3
4           td_allQry_18m -100     -1    0
5           td_allQry_18m    0      5    1
6           td_allQry_18m    6     13    2
7           td_allQry_18m   14  99999    3
8            td_allQry_1m -100     -1    0
9            td_allQry_1m    0      3    1
10           td_allQry_1m    4     11    2
11           td_allQry_1m   12  99999    3
12          stab_mail_num -100     -1    0
13          stab_mail_num    0      0    1
14          stab_mail_num    1      1    2
15          stab_mail_num    2   9999    3
16  m12_cell_cooff_allnum -100     -1    0
17  m12_cell_cooff_allnum    0      1    1
18  m12_cell_cooff_allnum    2      2    2
19  m12_cell_cooff_allnum    3   9999    3

In [32]:
for i in  list(config.varname.unique()):
    def func(a):
        min_ = config[config['varname'] == i]['min'].tolist()
        max_ = config[config['varname'] == i]['max'].tolist()
        bin_ = config[config['varname'] == i]['bin'].tolist()
        for min_,max_,bin_ in zip(min_,max_,bin_):
            if a>= min_ and a<= max_:
                return bin_
    train1[i+'_bin'] = train1[i].apply(lambda x : func(x))

In [33]:
train1.head()

,default,id,wdxh_flag_code,currentLoanOrgCount,currentLoanCount,m12LoanOrgCount,m12LoanCount,j1_repay_uno_num,j1_6m_judai_num,j1_3m_judai_num,...,td_propInsQry_1y,td_propInsQry_2y,td_propInsQry_3m,td_propInsQry_6m,openmonth,in_month_bin,td_allQry_18m_bin,td_allQry_1m_bin,stab_mail_num_bin,m12_cell_cooff_allnum_bin
13331,0.0,GD1811010810015950,2.0,-99.0,-99.0,-99.0,-99.0,1,1,0,...,1.0,1.0,0.0,1.0,43252,2,3,2,0,1
12352,0.0,GD1837020201095650,2.0,-99.0,-99.0,-99.0,-99.0,2,0,0,...,0.0,0.0,0.0,0.0,43252,2,2,1,0,3
12148,0.0,GD1850010702077450,2.0,-99.0,-99.0,-99.0,-99.0,0,0,0,...,0.0,0.0,0.0,0.0,43252,3,2,2,1,0
2645,0.0,GD1833048102034870,-99.0,1.0,1.0,1.0,1.0,1,1,1,...,0.0,0.0,0.0,0.0,43221,2,3,3,1,1
11299,1.0,GD1833010401070330,-99.0,2.0,7.0,2.0,7.0,0,0,0,...,1.0,1.0,0.0,1.0,43252,2,3,3,0,1

#### 计算手工分箱之后的IV和woe

In [34]:
#此处可以修改
result = num_bin(train1,['in_month','td_allQry_18m','td_allQry_1m','stab_mail_num','m12_cell_cooff_allnum'] ,
                  ['in_month_bin','td_allQry_18m_bin','td_allQry_1m_bin','stab_mail_num_bin','m12_cell_cooff_allnum_bin'])

In [35]:
result

,var_name,value,value_,bin_n,bin_good_n,bin_bad_n,bin_rate,bad_rate,woe,pre_iv,iv
0,in_month_bin,-99.0,0,2358,2115,243,22.13%,10.31%,-0.0889856110284149,-0.08140926374831861,-0.08140926374831861
1,in_month_bin,20.0,1,594,495,99,9.02%,16.67%,0.4653251246773148,0.7410450938167147,0.6596358300683961
2,in_month_bin,119.0,2,4912,4320,592,53.92%,12.05%,0.08725899075726472,0.09521519995634595,0.7548510300247421
3,in_month_bin,311.0,3,1977,1813,164,14.94%,8.30%,-0.32810874581923755,-0.23633170544770538,0.5185193245770368
0,td_allQry_18m_bin,-99.0,0,18,16,2,0.18%,11.11%,-0.0046785045684208425,-0.004656667286168423,-0.004656667286168423
1,td_allQry_18m_bin,5.0,1,2015,1861,154,14.03%,7.64%,-0.41715361711720655,-0.2748707324176846,-0.27952739970385304
2,td_allQry_18m_bin,13.0,2,2972,2672,300,27.32%,10.09%,-0.11203702288892024,-0.10016234857312319,-0.3796897482769762
3,td_allQry_18m_bin,155.0,3,4836,4194,642,58.47%,13.28%,0.19794112933951094,0.2412685887961749,-0.1384211594808013
0,td_allQry_1m_bin,-99.0,0,18,16,2,0.18%,11.11%,-0.0046785045684208425,-0.004656667286168423,-0.004656667286168423
1,td_allQry_1m_bin,3.0,1,3871,3518,353,32.15%,9.12%,-0.22441683125279172,-0.17930501411477243,-0.18396168140094085
2,td_allQry_1m_bin,11.0,2,4890,4298,592,53.92%,12.11%,0.09236459479296487,0.10130222006650613,-0.08265946133443472
3,td_allQry_1m_bin,53.0,3,1062,911,151,13.75%,14.22%,0.27749997666638115,0.36625170872009555,0.2835922473856608
0,stab_mail_num_bin,-99.0,0,3893,3400,493,44.90%,12.66%,0.14374150054985232,0.16596186812346725,0.16596186812346725
1,stab_mail_num_bin,0.0,1,4183,3727,456,41.53%,10.90%,-0.02610305285345732,-0.025430499520455632,0.14053136860301163
2,stab_mail_num_bin,1.0,2,1320,1202,118,10.75%,8.94%,-0.24629445351807303,-0.19252640865618964,-0.05199504005317801
3,stab_mail_num_bin,8.0,3,445,414,31,2.82%,6.97%,-0.5171157322287531,-0.3083239360390777,-0.3603189760922557
0,m12_cell_cooff_allnum_bin,-99.0,0,5481,4960,521,47.45%,9.51%,-0.1786479408541913,-0.14942119310196494,-0.14942119310196494
1,m12_cell_cooff_allnum_bin,1.0,1,2648,2322,326,29.69%,12.31%,0.1114762562202858,0.12462233896869514,-0.024798854133269807
2,m12_cell_cooff_allnum_bin,2.0,2,1060,910,150,13.66%,14.15%,0.27195373169677517,0.35694641749608264,0.3321475633628128
3,m12_cell_cooff_allnum_bin,38.0,3,652,551,101,9.20%,15.49%,0.37814874479976,0.5519383569106253,0.8840859202734381

#### 将woe映射到训练数据集上

In [36]:
result['value_']=result.value_.astype('int64')

In [52]:
for i in  list(result.var_name.unique()):
    def func(a):
        bin_ = result[result['var_name'] == i]['value_'].tolist()
        woe_ = result[result['var_name'] == i]['woe'].tolist()
        for bin_,woe_ in zip(bin_,woe_):
            if a == bin_:
                return woe_
    
    train1[i+'_w'] = train1[i].apply(lambda x : func(x)).astype('float64')

In [53]:
train1.head()

,default,id,wdxh_flag_code,currentLoanOrgCount,currentLoanCount,m12LoanOrgCount,m12LoanCount,j1_repay_uno_num,j1_6m_judai_num,j1_3m_judai_num,...,in_month_bin,td_allQry_18m_bin,td_allQry_1m_bin,stab_mail_num_bin,m12_cell_cooff_allnum_bin,in_month_bin_w,td_allQry_18m_bin_w,td_allQry_1m_bin_w,stab_mail_num_bin_w,m12_cell_cooff_allnum_bin_w
13331,0.0,GD1811010810015950,2.0,-99.0,-99.0,-99.0,-99.0,1,1,0,...,2,3,2,0,1,0.087259,0.197941,0.092365,0.143742,0.111476
12352,0.0,GD1837020201095650,2.0,-99.0,-99.0,-99.0,-99.0,2,0,0,...,2,2,1,0,3,0.087259,-0.112037,-0.224417,0.143742,0.378149
12148,0.0,GD1850010702077450,2.0,-99.0,-99.0,-99.0,-99.0,0,0,0,...,3,2,2,1,0,-0.328109,-0.112037,0.092365,-0.026103,-0.178648
2645,0.0,GD1833048102034870,-99.0,1.0,1.0,1.0,1.0,1,1,1,...,2,3,3,1,1,0.087259,0.197941,0.277500,-0.026103,0.111476
11299,1.0,GD1833010401070330,-99.0,2.0,7.0,2.0,7.0,0,0,0,...,2,3,3,0,1,0.087259,0.197941,0.277500,0.143742,0.111476

In [54]:
train1.dtypes

default                        float64
id                              object
wdxh_flag_code                 float64
currentLoanOrgCount            float64
currentLoanCount               float64
m12LoanOrgCount                float64
m12LoanCount                   float64
j1_repay_uno_num                 int64
j1_6m_judai_num                  int64
j1_3m_judai_num                  int64
j1_6m_ok_num                     int64
cell                            object
user_date                       object
sl_user_date                    object
cus_num                          int64
flag_location                    int64
flag_netshopping                 int64
flag_stability_c                 int64
location_cell_attr             float64
location_cell_stab             float64
location_cell_use_days         float64
location_id_attr               float64
location_live_birth_mat        float64
location_loan_addr_num         float64
location_loan_baddr_num        float64
location_loan_haddr_num        float64
location_long_trans_index      float64
location_online_fre            float64
location_rcnt_trans_index      float64
location_resident_stab         float64
                                ...
td_p2pLnQry_18m                float64
td_p2pLnQry_1m                 float64
td_p2pLnQry_1y                 float64
td_p2pLnQry_2y                 float64
td_p2pLnQry_3m                 float64
td_p2pLnQry_6m                 float64
td_p2pLnQry_7d                 float64
td_petLnQry_18m                float64
td_petLnQry_1m                 float64
td_petLnQry_1y                 float64
td_petLnQry_2y                 float64
td_petLnQry_3m                 float64
td_petLnQry_6m                 float64
td_petLnQry_7d                 float64
td_propInsQry_18m              float64
td_propInsQry_1y               float64
td_propInsQry_2y               float64
td_propInsQry_3m               float64
td_propInsQry_6m               float64
openmonth                        int64
in_month_bin                     int64
td_allQry_18m_bin                int64
td_allQry_1m_bin                 int64
stab_mail_num_bin                int64
m12_cell_cooff_allnum_bin        int64
in_month_bin_w                 float64
td_allQry_18m_bin_w            float64
td_allQry_1m_bin_w             float64
stab_mail_num_bin_w            float64
m12_cell_cooff_allnum_bin_w    float64
Length: 766, dtype: object

#### 逐步回归法选择变量

In [58]:
import statsmodels.formula.api as smf #引入类似R语言表达式模块接口
import statsmodels.api as sm

In [ ]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import logging
import os
from scipy.stats import chi2
  def stepwise(self, X, y, logging_file, start_from=[], direction='FORWARD',
                    lrt=True, lrt_threshold=0.05):
        """
        Use results of logistic regression to select features. It will go through
        stepwise based on the direction specified first and then check the
        significance of the variables using pvalue. Then check if there are variables
        with negative coefficients and remove it.

        Args:
        X (pd.DataFrame()): X data frame that contains the variables.
            variable names should not contain . or -, replace with _ and _
        y (pd.Series()): y data, labeling the performance
        logging_file (str): logging file object
        start_from (list): list of variable names that the model starts from,
            if not the null model
        direction (str): default='FOWARD/BACKWARD', forward first and then backward.
            ['FORWARD/BACKWARD', 'BACKWARD/FORWARD']
        lrt (bool): default = True. If set true, the model will consider likelihood
            ratio test result
        lrt_threshold (float): default = 0.05. The alpha value for likelihood ratio
            test.

        Returns:
        imp_df (pd.DataFrame()): contains the variable names and FORWARD AIC
            and ranking0
        """
        def _likelihood_ratio_test(ll_r, ll_f, lrt_threshold):
            # H0: reduced model is true. If rejected, then it means that the
            # full model is good. Need to add the candidate
            test_statistics = (-2 * ll_r) - (-2 * ll_f)
            p_value = 1 - chi2(df=1).cdf(test_statistics)
            return p_value <= lrt_threshold




        def _forward(dataset, logging_file, current_score, best_new_score,
                    remaining, selected, result_dict, reduced_loglikelihood):
            # TODO: 加上 f test like in SAS
            logging_file.info("While loop beginning current_score: %s" % current_score)
            logging_file.info("While loop beginning best_new_score: %s" % best_new_score)
            current_score = best_new_score
            aics_with_candidates = {}
            p_values_ok_to_add = []
            # 选择最好的变量to add
            for candidate in remaining:
                formula = "{} ~ {}".format('y', ' + '.join(selected + [candidate]))
                mod1 = smf.glm(formula=formula, data=dataset, family=sm.families.Binomial()).fit()
                # 只有新加指标的coefficient>0或者加上之后其他指标coefficient也>0
                if sum(mod1.params.loc[mod1.params.index != 'Intercept'] < 0) == 0 :
                    aics_with_candidates[candidate] = mod1.aic
                    full_loglikelihood = mod1.llf
                    if lrt:
                        p_values_ok = _likelihood_ratio_test(reduced_loglikelihood, full_loglikelihood, lrt_threshold)
                        if p_values_ok:
                            p_values_ok_to_add.append(candidate)

            # 只有通过likelihood ratio test的变量才会进行AIC比较进行选择
            candidate_scores = pd.Series(aics_with_candidates)
            if lrt:
                candidate_scores = candidate_scores.loc[p_values_ok_to_add]

            # 有变量pvalues显著 reject the reduced model and need to add the variable
            if not candidate_scores.empty:
                best = candidate_scores[candidate_scores == candidate_scores.min()]
                # best_new_score 被替换成新的加上这个变量的模型的AIC
                best_new_score = best.iloc[0]
                best_candidate = best.index.values[0]
            else:
                return None

            # 当加上变量的模型的AIC比当前模型的小时，选择加上变量的模型
            if current_score > best_new_score:
                logging_file.info('Best Variable to Add: %s' % best_candidate)
                remaining.remove(best_candidate)
                selected.append(best_candidate)
                improvement_gained = current_score - best_new_score
                result_dict[best_candidate] = {'AIC_delta': improvement_gained, 'step': 'FORWARD'}
                formula = "{} ~ {}".format('y', ' + '.join(selected))
                mod2 = smf.glm(formula=formula, data=dataset, family=sm.families.Binomial()).fit()
                # loglikelihood of the reduced model
                reduced_loglikelihood = mod2.llf
                logging_file.info('FOWARD Step: AIC=%s' % mod2.aic)
                logging_file.info(mod2.summary())
                return current_score, best_new_score, result_dict, selected, remaining, reduced_loglikelihood
            else:
                return None



        def _backward(dataset, logging_file, current_score, best_new_score,
                    remaining, selected, result_dict, reduced_loglikelihood):
            # TODO: 加上 f test like in SAS
            logging_file.info("While loop beginning current_score: %s" % current_score)
            logging_file.info("While loop beginning best_new_score: %s" % best_new_score)
            current_score = best_new_score
            aics_with_candidates = {}
            p_values_ok_to_delete = []
            # 选择最差的to delete
            for candidate in selected:
                put_in_model = [i for i in selected if i != candidate]
                formula = "{} ~ {}".format('y', ' + '.join(put_in_model))
                mod1 = smf.glm(formula=formula, data=dataset, family=sm.families.Binomial()).fit()
                # 只有减去指标后留下的变量中没有变量coefficient是负数
                if sum(mod1.params.loc[mod1.params.index != 'Intercept'] < 0) == 0 :
                    aics_with_candidates[candidate] = mod1.aic
                    reduced_reduced_loglikelihood = mod1.llf
                    if lrt:
                        p_values_rejected = _likelihood_ratio_test(reduced_reduced_loglikelihood, reduced_loglikelihood, lrt_threshold)
                        # if not rejected, H0: reduced model is true, need to remove the variable
                        if not p_values_rejected:
                            p_values_ok_to_delete.append(candidate)

            # 只有通过likelihood ratio test的变量才会进行AIC比较进行选择
            candidate_scores = pd.Series(aics_with_candidates)
            if lrt:
                candidate_scores = candidate_scores.loc[p_values_ok_to_delete]

            # 有变量pvalues不显著 没有reject the reduced model, then need to delete the variable
            if not candidate_scores.empty:
                best = candidate_scores[candidate_scores == candidate_scores.min()]
                # best_new_score 被替换成新的减去这个变量的模型的AIC
                best_new_score = best.iloc[0]
                best_candidate = best.index.values[0]
            else:
                return None


            # 当减去变量的模型的AIC比当前模型的小时，选择减去变量的模型
            if current_score > best_new_score:
                logging_file.info('Best Variable to Delete: %s' % best_candidate)
                remaining.append(best_candidate)
                selected.remove(best_candidate)
                improvement_gained = current_score - best_new_score
                result_dict[best_candidate] = {'AIC_delta': improvement_gained, 'step': 'BACKWARD'}
                formula = "{} ~ {}".format('y', ' + '.join(selected))
                mod2 = smf.glm(formula=formula, data=dataset, family=sm.families.Binomial()).fit()
                # loglikelihood of the reduced model
                reduced_loglikelihood = mod2.llf
                logging_file.info('BACKWARD Step: AIC=%s' % mod2.aic)
                logging_file.info(mod2.summary())
                return current_score, best_new_score, result_dict, selected, remaining, reduced_loglikelihood
            else:
                return None

#### 逻辑回归拟合模型

In [56]:
lg = smf.glm('default ~ in_month_bin_w + td_allQry_18m_bin_w + td_allQry_1m_bin_w + stab_mail_num_bin_w + m12_cell_cooff_allnum_bin_w +in_month', 
             data=train1, family=sm.families.Binomial(sm.families.links.logit)).fit()
lg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                default   No. Observations:                 9841
Model:                            GLM   Df Residuals:                     9834
Model Family:                Binomial   Df Model:                            6
Link Function:                  logit   Scale:                             1.0
Method:                          IRLS   Log-Likelihood:                -3371.4
Date:                Thu, 26 Jul 2018   Deviance:                       6742.7
Time:                        15:09:41   Pearson chi2:                 9.83e+03
No. Iterations:                     5
===============================================================================================
                                  coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
Intercept                      -2.0681      0.036    -57.440      0.000      -2.139      -1.998
in_month_bin_w                  0.8676      0.165      5.256      0.000       0.544       1.191
td_allQry_18m_bin_w             0.8353      0.179      4.657      0.000       0.484       1.187
td_allQry_1m_bin_w              0.3252      0.225      1.447      0.148      -0.115       0.766
stab_mail_num_bin_w             1.1399      0.214      5.334      0.000       0.721       1.559
m12_cell_cooff_allnum_bin_w     0.6573      0.166      3.964      0.000       0.332       0.982
in_month                       -0.0002      0.000     -0.431      0.666      -0.001       0.001
===============================================================================================
"""

In [57]:
#sm.Logit()