In [1]:
from sklearn import metrics
from statsmodels.stats.outliers_influence import variance_inflation_factor
import numpy as np
from sklearn import ensemble
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
import pandas as pd
import scipy
from scipy.stats import chi2
import matplotlib.pyplot as plt
from sklearn.utils.multiclass import type_of_target
from scipy import stats
import xgboost as xgb
from sklearn.metrics import auc,roc_curve,roc_auc_score
from sklearn.externals import joblib
import graphviz
%matplotlib inline

In [26]:
#分数转化
def score_ys(datain,p,PDO,basepoint):
    cs=np.log(p/(1-p))
    B=PDO/np.log(2)
    A=basepoint+B*np.log(1/50)
    score=np.round(A-cs*B)
    datain['score'] = score
    datain['p']=p

In [27]:
def plot_psi(actual,expected,title = 'PSI',quant=20):
    minv = min(min(actual),min(expected))
    maxv = max(max(actual),max(expected))
    step = 1.0*(maxv-minv)/quant
    acnt = []
    ecnt = []
    s,e = minv,minv+step
    act = np.array(actual)
    ex = np.array(expected)

    while e <= maxv:
        acnt.append(((act>=s) & (act < e)).sum())
        ecnt.append(((ex>=s )& (ex < e)).sum())
        s = e
        e = e+step

    arate = np.array(acnt)/ len(actual)
    erate = np.array(ecnt)/ len(expected)

    arate[arate==0] = 0.000001
    erate[erate==0] = 0.000001

    psi = np.sum((arate - erate)*np.log(arate/erate))
    #psi = psi.sum()

    x1 = np.linspace(0,len(acnt)-1,len(acnt)) - 0.2
    x2 = np.linspace(0,len(acnt)-1,len(acnt)) + 0.2
    plt.bar(x1, arate*100, alpha=0.9, width = 0.4, facecolor = 'orange', edgecolor = 'white', label='Actual', lw=0.2)
    plt.bar(x2, erate*100, alpha=0.9, width = 0.4, facecolor = 'lightblue', edgecolor = 'white', label='Expected', lw=0.2)
    plt.legend()
    plt.suptitle(title)
    plt.title('({})'.format(psi))
    ax = plt.axes()
    from matplotlib.ticker import FormatStrFormatter
    ax.yaxis.set_major_formatter(FormatStrFormatter('%.0f%%'))
    plt.show()
    return psi

In [28]:
def pct_rank_qcut(datain,series,n):
   
    """离散型变量分箱"""
    edages = pd.Series([i/n for i in range(n)]) #生成分位数
    
    func = lambda x:(edages >= x).idxmax() #argmax()返回最大值对应的索引,索引从0开始计算； func函数：输入x输出，输出百分位数对应的索引值
    datain[series + '_bin' ] = datain[series].rank(na_option = 'top',pct=True).astype(float).apply(func)

In [29]:
#统计分布
def score_fb(indata,var,var_bin):
    """连续型变量分箱"""
    score_fb = pd.DataFrame()
    g = indata[[var,var_bin,'default']].groupby(indata[var_bin])
    n = len(indata)
    good_n = len(indata[indata['default'].isin([0.0])])
    bad_n = len(indata[indata['default'].isin([1.0])])
    value_max = list(g.max()[var])
    value_min = list(g.min()[var])
    value = list(g.groups.keys())
    
    
    var_name = []
    bin_n = []
    bin_good_n = []
    bin_bad_n = []
    bin_rate = []
    bad_rate = []
    good_rate = []
    for i in range(0,len(g.groups)):
        var_name1 =var_bin
        bin_n1 = len(g.get_group(value[i]))
        bin_good_n1 = len(g.get_group(value[i])[g.get_group(value[i])['default'].isin([0.0])])
        bin_bad_n1 = len(g.get_group(value[i])[g.get_group(value[i])['default'].isin([1.0])])
        bin_rate1 = bin_n1/n
        bad_rate1 = bin_bad_n1/bin_n1
        good_rate1 = bin_good_n1/bin_n1
            
 
        bin_n.append(bin_n1)
        bin_good_n.append(bin_good_n1)
        bin_bad_n.append(bin_bad_n1)
        var_name.append(var_name1)
        bin_rate.append(bin_rate1)
        bad_rate.append(bad_rate1)
        good_rate.append(good_rate1)
             
    cols = ['var_name','value','value_min','value_max','bin_n','bin_good_n','bin_bad_n','bin_rate','bad_rate']
    num1 = pd.DataFrame(np.array([var_name,value,value_min,value_max,bin_n,bin_good_n,bin_bad_n,bin_rate,bad_rate]).T,columns =cols)
    score_fb= score_fb.append(num1,ignore_index=False)
    score_fb['qujian'] =  '['+score_fb['value_min']+','+score_fb['value_max']+']'
    score_fb['avg'] = indata['default'].value_counts(normalize=True)[1]
    score_fb = score_fb.sort_values('value_min')
    return score_fb

In [31]:
import os
os.chdir(r'E:\AnalystPersonal\chenxiaoyan\催收\催收929\xgboost')

In [32]:
train_df = pd.read_csv('train_df.csv')
test_df = pd.read_csv('test_df.csv')

In [8]:
drop_m12 = pd.read_csv('drop_m12.csv',na_values =['',' ','.','-1','-2'],engine='python')

In [9]:
drop_m12.shape

(4622, 188)

In [10]:
drop_m12['default'].value_counts(normalize=True)

1    0.917352
0    0.082648
Name: default, dtype: float64

In [11]:
c = drop_m12.default.replace({0:1,1:0})
drop_m12['default']=c
oot = drop_m12.copy()

In [9]:
#调用模型

In [12]:
#分账龄建模 - m1-m2 - 使用相同变量
train_m12 = train_df[train_df['zl'].isin([1,2])][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]
test_m12 = test_df[test_df['zl'].isin([1,2])][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]
oot_m12 = oot[oot['zl'].isin([1,2])][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]
print(train_m12.shape,test_m12.shape,oot_m12.shape)
print(train_m12['default'].value_counts(normalize=True),test_m12['default'].value_counts(normalize=True),oot_m12['default'].value_counts(normalize=True))

(26014, 10) (6499, 10) (4622, 10)
0    0.857577
1    0.142423
Name: default, dtype: float64 0    0.860902
1    0.139098
Name: default, dtype: float64 0    0.917352
1    0.082648
Name: default, dtype: float64

In [22]:
oot_m12['']

0         37.0
1         44.0
2         83.0
3         83.0
4       -832.0
5       -801.0
6        -54.0
7       -923.0
8       -847.0
9       -405.0
10      -467.0
11      -938.0
12      -436.0
13      -862.0
14      -420.0
15      -436.0
16      -467.0
17      -512.0
18      -162.0
19      -558.0
20      -847.0
21      -451.0
22      -436.0
23      -512.0
24      -923.0
25      -801.0
26      -420.0
27      -436.0
28      -436.0
29      -832.0
         ...
4592    -677.0
4593    -312.0
4594   -1042.0
4595    -314.0
4596    -313.0
4597    -314.0
4598    -679.0
4599    -314.0
4600    -314.0
4601    -314.0
4602    -684.0
4603   -1049.0
4604    -684.0
4605    -319.0
4606    -319.0
4607    -319.0
4608    -319.0
4609    -319.0
4610    -680.0
4611    -315.0
4612    -317.0
4613    -317.0
4614    -317.0
4615    -317.0
4616   -1047.0
4617    -682.0
4618    -317.0
4619    -317.0
4620    -317.0
4621    -318.0
Name: last_pay_days, Length: 4622, dtype: float64

In [13]:
booster= joblib.load(r'm12.m')

In [189]:
booster.best_ntree_limit

73

In [196]:
pd.Series(booster.get_fscore()).sort_values(ascending=False)

last_pay_days        146
recent_first_days    121
fp_camt_pct           90
o_interest            31
dtype: int64

In [17]:
X_train = train_m12.drop(['default','zl','o_total_amount','return_amt'],axis=1)
xgb_train =  xgb.DMatrix(X_train,label=train_m12.default)
xgb_test = xgb.DMatrix(test_m12[X_train.columns],label=test_m12.default)
xgb_oot = xgb.DMatrix(oot_m12[X_train.columns],label=oot_m12.default)

In [15]:
booster

In [18]:
def report_performance(preds, y,cutoff = 0.5):
    ks =  stats.ks_2samp(preds[y==1], preds[y!=1]).statistic
    gini =  metrics.roc_auc_score(y,preds)*2 - 1.0
    accuracy = metrics.accuracy_score(y, np.where(preds > cutoff,1,0))
    recall = metrics.recall_score(y, np.where(preds > cutoff,1,0))
    precision = metrics.precision_score(y, np.where(preds > cutoff,1,0))
    cm = metrics.confusion_matrix(y, np.where(preds > cutoff,1,0)) 
    # fpr, tpr, thresholds = metrics.roc_curve(y,preds) 
    auc = metrics.roc_auc_score(y,preds)
    # roc_auc = metrics.auc(fpr,tpr)
    print('=======================report=================')
    print('Gini is: %-.5f \t KS is: %-.5f \t accuracy: %-.5f \t Precision: %-.5f \t Recall:%-.5f \t AUC:%-.5f' % (gini, ks, accuracy,precision,recall,auc))
    print('confusion matrix:')
    print(cm)

In [19]:
preds=booster.predict(xgb_train,ntree_limit = booster.best_ntree_limit)
preds2=booster.predict(xgb_test,ntree_limit = booster.best_ntree_limit)
preds3=booster.predict(xgb_oot,ntree_limit = booster.best_ntree_limit)
report_performance(preds, train_m12.default)
report_performance(preds2, test_m12.default)
report_performance(preds3, oot_m12.default)

=======================report=================
Gini is: 0.30168 	 KS is: 0.22058 	 accuracy: 0.85758 	 Precision: 0.00000 	 Recall:0.00000 	 AUC:0.65084
confusion matrix:
[[22309     0]
 [ 3705     0]]
=======================report=================
Gini is: 0.27394 	 KS is: 0.21074 	 accuracy: 0.86090 	 Precision: 0.00000 	 Recall:0.00000 	 AUC:0.63697
confusion matrix:
[[5595    0]
 [ 904    0]]
=======================report=================
Gini is: 0.14621 	 KS is: 0.15521 	 accuracy: 0.91735 	 Precision: 0.00000 	 Recall:0.00000 	 AUC:0.57310
confusion matrix:
[[4240    0]
 [ 382    0]]

D:\Program Files\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

In [21]:
preds3

array([0.3320422 , 0.32580113, 0.3153021 , ..., 0.35533196, 0.35533196,
       0.35533196], dtype=float32)

In [84]:
score_ys(train_m12,preds,50,500)
score_ys(test_m12,preds2,50,500)
score_ys(oot_m12,preds3,50,500)

## M3-M6

In [217]:
booster= joblib.load(r'm36.m')

In [200]:
train_m36 = train_df[train_df['zl'].isin ([3,4,5,6])][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]
test_m36 = test_df[test_df['zl'].isin ([3,4,5,6])][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]
oot_m36 = oot[oot['zl'].isin ([3,4,5,6])][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]

In [201]:
print(train_m36.shape,test_m36.shape,oot_m36.shape)
print(train_m36['default'].value_counts(normalize=True),test_m36['default'].value_counts(normalize=True),oot_m36['default'].value_counts(normalize=True))

(49978, 10) (12677, 10) (60437, 10)
0    0.97711
1    0.02289
Name: default, dtype: float64 0    0.97602
1    0.02398
Name: default, dtype: float64 0    0.973791
1    0.026209
Name: default, dtype: float64

In [218]:
ceate_feature_map(['last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest'])#特征名列表

In [229]:
import re

_NODEPAT = re.compile(r'(\d+):\[(.+)\]')
_LEAFPAT = re.compile(r'(\d+):(leaf=.+)')
_EDGEPAT = re.compile(r'yes=(\d+),no=(\d+),missing=(\d+)')
_EDGEPAT2 = re.compile(r'yes=(\d+),no=(\d+)')


def _parse_node(graph, text):
    """parse dumped node"""
    match = _NODEPAT.match(text)
    if match is not None:
        node = match.group(1)
        graph.node(node, label=match.group(2), shape='box',style = 'filled,rounded',fillcolor='pink')
        return node
    match = _LEAFPAT.match(text)
    if match is not None:
        node = match.group(1)
        graph.node(node, label=match.group(2).replace('leaf=',''), shape='box',style = 'filled,rounded',fillcolor='coral')
        return node
    raise ValueError('Unable to parse node: {0}'.format(text))


def _parse_edge(graph, node, text, yes_color='#0000FF', no_color='#FF0000'):
    """parse dumped edge"""
    try:
        match = _EDGEPAT.match(text)
        if match is not None:
            yes, no, missing = match.groups()
            if yes == missing:
                graph.edge(node, yes, label='yes, missing', color=yes_color)
                graph.edge(node, no, label='no', color=no_color)
            else:
                graph.edge(node, yes, label='yes', color=yes_color)
                graph.edge(node, no, label='no, missing', color=no_color)
            return
    except ValueError:
        pass
    match = _EDGEPAT2.match(text)
    if match is not None:
        yes, no = match.groups()
        graph.edge(node, yes, label='yes', color=yes_color)
        graph.edge(node, no, label='no', color=no_color)
        return
    raise ValueError('Unable to parse edge: {0}'.format(text))


from graphviz import Digraph
booster= joblib.load(r'm36.m')
tree = booster.get_dump(fmap='xgb.fmap')[9]
tree = tree.split()
kwargs = {
        #'label': 'A Fancy Graph',
        'fontsize': '10',
        #'fontcolor': 'white',
        #'bgcolor': '#333333',
        #'rankdir': 'BT'
         }
kwargs = kwargs.copy()
#kwargs.update({'rankdir': rankdir})
graph = Digraph(format='PNG', node_attr=kwargs,edge_attr=kwargs,engine='dot')#,edge_attr=kwargs,graph_attr=kwargs,
#graph.attr(bgcolor='purple:pink', label='agraph', fontcolor='white')

yes_color='#0000FF'
no_color='#FF0000'
for i, text in enumerate(tree):
    if text[0].isdigit():
        node = _parse_node(graph, text)
    else:
        if i == 0:
            # 1st string must be node
            raise ValueError('Unable to parse given string as tree')
        _parse_edge(graph, node, text, yes_color=yes_color,no_color=no_color)

graph.render('xgb_m36_9.PNG')

graph

In [89]:
X_train = train_m36.drop(['default','o_total_amount','return_amt','zl'],axis=1)
xgb_train =  xgb.DMatrix(X_train,label=train_m36.default)
xgb_test = xgb.DMatrix(test_m36[X_train.columns],label=test_m36.default)

xgb_oot = xgb.DMatrix(oot_m36[X_train.columns],label=oot_m36.default)

preds=booster.predict(xgb_train,ntree_limit = booster.best_ntree_limit)
report_performance(preds,train_m36.default)

preds2=booster.predict(xgb_test,ntree_limit = booster.best_ntree_limit)
report_performance(preds2,test_m36.default)

preds3=booster.predict(xgb_oot,ntree_limit = booster.best_ntree_limit)
report_performance(preds3,oot_m36.default)

D:\Program Files\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

=======================report=================
Gini is: 0.55537 	 KS is: 0.43288 	 accuracy: 0.97711 	 Precision: 0.00000 	 Recall:0.00000 	 AUC:0.77769
confusion matrix:
[[48834     0]
 [ 1144     0]]
=======================report=================
Gini is: 0.50589 	 KS is: 0.41357 	 accuracy: 0.97602 	 Precision: 0.00000 	 Recall:0.00000 	 AUC:0.75294
confusion matrix:
[[12373     0]
 [  304     0]]
=======================report=================
Gini is: 0.52420 	 KS is: 0.40072 	 accuracy: 0.97379 	 Precision: 0.00000 	 Recall:0.00000 	 AUC:0.76210
confusion matrix:
[[58853     0]
 [ 1584     0]]

In [90]:
score_ys(train_m36,preds,50,500)
score_ys(test_m36,preds2,50,500)
score_ys(oot_m36,preds3,50,500)

## M7+

In [230]:
booster= joblib.load(r'm7.m')

In [231]:
#分账龄建模 - m7+ - 使用相同变量
train_m7 = train_df[train_df['zl']>6][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]
test_m7 = test_df[test_df['zl']>6][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]
oot_m7 = oot[oot['zl']>6][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]

In [232]:
print(train_m7.shape,test_m7.shape,oot_m7.shape)
print(train_m7['default'].value_counts(normalize=True),test_m7['default'].value_counts(normalize=True),oot_m7['default'].value_counts(normalize=True))

(443481, 10) (110693, 10) (581786, 10)
0    0.993111
1    0.006889
Name: default, dtype: float64 0    0.993062
1    0.006938
Name: default, dtype: float64 0    0.994022
1    0.005978
Name: default, dtype: float64

In [233]:
pd.Series(booster.get_fscore()).sort_values(ascending=False)

last_pay_days                 41
recent_first_days             28
self_FR_get_SR_get_prop_6m    15
fp_camt_pct                   15
self_FR_get_SR_get_prop_tt    14
o_interest                    12
dtype: int64

In [234]:
ceate_feature_map(['last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest'])#特征名列表

In [272]:
import re

_NODEPAT = re.compile(r'(\d+):\[(.+)\]')
_LEAFPAT = re.compile(r'(\d+):(leaf=.+)')
_EDGEPAT = re.compile(r'yes=(\d+),no=(\d+),missing=(\d+)')
_EDGEPAT2 = re.compile(r'yes=(\d+),no=(\d+)')


def _parse_node(graph, text):
    """parse dumped node"""
    match = _NODEPAT.match(text)
    if match is not None:
        node = match.group(1)
        graph.node(node, label=match.group(2), shape='box',style = 'filled,rounded',fillcolor='pink')
        return node
    match = _LEAFPAT.match(text)
    if match is not None:
        node = match.group(1)
        graph.node(node, label=match.group(2).replace('leaf=',''), shape='box',style = 'filled,rounded',fillcolor='coral')
        return node
    raise ValueError('Unable to parse node: {0}'.format(text))


def _parse_edge(graph, node, text, yes_color='#0000FF', no_color='#FF0000'):
    """parse dumped edge"""
    try:
        match = _EDGEPAT.match(text)
        if match is not None:
            yes, no, missing = match.groups()
            if yes == missing:
                graph.edge(node, yes, label='yes, missing', color=yes_color)
                graph.edge(node, no, label='no', color=no_color)
            else:
                graph.edge(node, yes, label='yes', color=yes_color)
                graph.edge(node, no, label='no, missing', color=no_color)
            return
    except ValueError:
        pass
    match = _EDGEPAT2.match(text)
    if match is not None:
        yes, no = match.groups()
        graph.edge(node, yes, label='yes', color=yes_color)
        graph.edge(node, no, label='no', color=no_color)
        return
    raise ValueError('Unable to parse edge: {0}'.format(text))


from graphviz import Digraph
booster= joblib.load(r'm7.m')
tree = booster.get_dump(fmap='xgb.fmap')[33]
tree = tree.split()
kwargs = {
        #'label': 'A Fancy Graph',
        'fontsize': '10',
        #'fontcolor': 'white',
        #'bgcolor': '#333333',
        #'rankdir': 'BT'
         }
kwargs = kwargs.copy()
#kwargs.update({'rankdir': rankdir})
graph = Digraph(format='PNG', node_attr=kwargs,edge_attr=kwargs,engine='dot')#,edge_attr=kwargs,graph_attr=kwargs,
#graph.attr(bgcolor='purple:pink', label='agraph', fontcolor='white')

yes_color='#0000FF'
no_color='#FF0000'
for i, text in enumerate(tree):
    if text[0].isdigit():
        node = _parse_node(graph, text)
    else:
        if i == 0:
            # 1st string must be node
            raise ValueError('Unable to parse given string as tree')
        _parse_edge(graph, node, text, yes_color=yes_color,no_color=no_color)

graph.render('xgb_m7_33.PNG')

graph

In [96]:
X_train = train_m7.drop(['default','o_total_amount','return_amt','zl'],axis=1)
xgb_train =  xgb.DMatrix(X_train,label=train_m7.default)
xgb_test = xgb.DMatrix(test_m7[X_train.columns],label=test_m7.default)

xgb_oot = xgb.DMatrix(oot_m7[X_train.columns],label=oot_m7.default)
preds=booster.predict(xgb_train,ntree_limit = booster.best_ntree_limit)
report_performance(preds,train_m7.default)

preds2=booster.predict(xgb_test,ntree_limit = booster.best_ntree_limit)
report_performance(preds2,test_m7.default)

preds3=booster.predict(xgb_oot,ntree_limit = booster.best_ntree_limit)
report_performance(preds3,oot_m7.default)

D:\Program Files\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

=======================report=================
Gini is: 0.67698 	 KS is: 0.53320 	 accuracy: 0.99311 	 Precision: 0.00000 	 Recall:0.00000 	 AUC:0.83849
confusion matrix:
[[440426      0]
 [  3055      0]]
=======================report=================
Gini is: 0.68843 	 KS is: 0.56885 	 accuracy: 0.99306 	 Precision: 0.00000 	 Recall:0.00000 	 AUC:0.84422
confusion matrix:
[[109925      0]
 [   768      0]]
=======================report=================
Gini is: 0.65335 	 KS is: 0.51934 	 accuracy: 0.99402 	 Precision: 0.00000 	 Recall:0.00000 	 AUC:0.82667
confusion matrix:
[[578308      0]
 [  3478      0]]

In [97]:
score_ys(train_m7,preds,50,500)
score_ys(test_m7,preds2,50,500)
score_ys(oot_m7,preds3,50,500)

In [25]:
train1 = train_m12[['zl','p','score','default','o_total_amount','return_amt','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt','recent_first_days','fp_camt_pct','o_interest']]
train2 = train_m36[['zl','p','score','default','o_total_amount','return_amt','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt','recent_first_days','fp_camt_pct','o_interest']]
train3 = train_m7[['zl','p','score','default','o_total_amount','return_amt','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt','recent_first_days','fp_camt_pct','o_interest']]
train = pd.concat([train1,train2,train3])

KeyError: "['p' 'score'] not in index"

In [99]:
test1 = test_m12[['zl','p','score','default','o_total_amount','return_amt','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt','recent_first_days','fp_camt_pct','o_interest']]
test2 = test_m36[['zl','p','score','default','o_total_amount','return_amt','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt','recent_first_days','fp_camt_pct','o_interest']]
test3 = test_m7[['zl','p','score','default','o_total_amount','return_amt','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt','recent_first_days','fp_camt_pct','o_interest']]
test = pd.concat([test1,test2,test3])

In [100]:
oot1 = oot_m12[['zl','p','score','default','o_total_amount','return_amt','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt','recent_first_days','fp_camt_pct','o_interest']]
oot2 = oot_m36[['zl','p','score','default','o_total_amount','return_amt','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt','recent_first_days','fp_camt_pct','o_interest']]
oot3 = oot_m7[['zl','p','score','default','o_total_amount','return_amt','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt','recent_first_days','fp_camt_pct','o_interest']]
oot_ = pd.concat([oot_m12,oot_m36,oot_m7])

In [256]:
oot_

,default,zl,last_pay_days,self_FR_get_SR_get_prop_6m,self_FR_get_SR_get_prop_tt,recent_first_days,fp_camt_pct,o_interest,o_total_amount,return_amt,score,p,score_bin,last_pay_days_bin
17707,0,2,81.0,0.96,0.967742,822.0,1.121964,335.76,5444.95,NaN,274.0,0.315302,1,1
17738,0,2,52.0,1.00,1.000000,973.0,1.119498,160.15,5443.22,NaN,273.0,0.316987,1,1
17812,0,2,62.0,1.00,1.000000,856.0,1.072156,472.82,8656.00,NaN,272.0,0.319896,1,1
17815,0,2,52.0,1.00,1.000000,973.0,1.121009,208.38,7077.57,NaN,274.0,0.315312,1,1
17821,0,2,66.0,1.00,1.000000,898.0,1.121944,397.83,8711.89,NaN,273.0,0.317744,1,1
17829,0,2,8.0,1.00,1.000000,895.0,0.385040,252.00,4911.89,NaN,259.0,0.360171,1,1
17874,1,2,68.0,1.00,1.000000,942.0,1.072162,224.80,7574.00,1100.00,273.0,0.316221,1,1
17891,0,2,67.0,1.00,1.000000,958.0,1.121964,160.29,5444.95,NaN,273.0,0.318705,1,1
17917,1,2,3.0,1.00,1.000000,900.0,0.376742,180.46,4309.21,3900.00,259.0,0.361202,1,1
17918,0,2,83.0,1.00,1.000000,820.0,1.121944,537.20,8711.89,NaN,274.0,0.315290,1,1
17932,1,1,46.0,1.00,0.900000,857.0,0.370118,188.19,3106.28,6473.85,269.0,0.330099,1,1
17934,0,1,22.0,1.00,0.500000,1003.0,0.360070,82.67,3097.82,NaN,258.0,0.362601,1,1
17942,1,1,7.0,1.00,1.000000,1003.0,0.011616,0.00,683.81,1863.11,258.0,0.363763,1,1
17980,0,2,68.0,1.00,1.000000,850.0,1.072153,263.18,4869.00,NaN,274.0,0.315761,1,1
17994,1,1,37.0,1.00,1.000000,973.0,0.345225,68.37,2571.10,7218.67,267.0,0.335728,1,1
17998,0,2,80.0,1.00,1.000000,823.0,1.121944,537.20,8711.89,NaN,274.0,0.315290,1,1
18015,1,2,68.0,1.00,1.000000,942.0,1.072159,238.22,8115.00,2000.00,274.0,0.315958,1,1
18029,1,1,52.0,1.00,1.000000,973.0,0.370106,62.00,2329.70,2600.00,273.0,0.316987,1,1
18056,0,1,41.0,1.00,1.000000,984.0,0.370106,62.22,2329.70,NaN,268.0,0.331705,1,1
18081,0,2,83.0,1.00,1.000000,820.0,1.121964,335.76,5444.95,NaN,274.0,0.315302,1,1
18090,0,1,49.0,1.00,1.000000,976.0,0.370111,69.13,2588.56,NaN,268.0,0.331520,1,1
18096,0,1,52.0,1.00,1.000000,973.0,0.370111,69.07,2588.56,NaN,273.0,0.316987,1,1
18149,0,2,68.0,1.00,1.000000,942.0,1.072156,254.10,8656.00,NaN,274.0,0.315958,1,1
18193,0,1,37.0,0.00,1.000000,577.0,0.345217,757.81,5656.41,NaN,269.0,0.330716,1,1
18207,0,1,52.0,1.00,1.000000,455.0,0.370118,336.96,2070.85,NaN,275.0,0.311332,1,1
18222,0,1,45.0,1.00,1.000000,493.0,0.370109,642.91,4141.69,NaN,270.0,0.328138,1,1
18248,0,2,37.0,1.00,1.000000,577.0,1.071515,1699.39,12982.92,NaN,269.0,0.331064,1,1
18292,0,2,83.0,1.00,1.000000,455.0,1.121957,1649.51,10889.89,NaN,275.0,0.312768,1,1
18304,0,1,37.0,1.00,1.000000,577.0,0.345211,480.19,3599.52,NaN,269.0,0.330989,1,1
18307,0,2,68.0,0.75,0.857143,546.0,1.072171,1411.52,10820.03,NaN,274.0,0.313994,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
781052,0,34,857.0,0.00,0.000000,924.0,27.928479,3335.20,35335.78,NaN,623.0,0.003629,6,7
781053,0,47,1401.0,0.00,0.000000,380.0,6.506100,3493.60,34444.83,NaN,681.0,0.001618,0,0
781054,0,41,1262.0,0.00,1.000000,518.0,3.382380,1215.34,13367.54,NaN,635.0,0.003058,7,0
781055,0,55,1688.0,0.00,0.000000,92.0,11.476381,8180.00,77906.79,NaN,691.0,0.001406,0,0
781056,0,41,1379.0,0.00,0.000000,400.0,7.932157,4160.00,41645.63,NaN,680.0,0.001641,14,0
781057,0,48,1467.0,0.00,1.000000,306.0,7.674535,5317.00,50797.45,NaN,655.0,0.002341,10,0
781058,0,36,914.0,0.00,0.000000,864.0,0.000000,0.00,1080.47,NaN,635.0,0.003053,7,8
781059,0,40,1198.0,0.00,0.000000,580.0,2.892717,2045.00,19494.07,NaN,663.0,0.002082,11,9
781060,0,58,1766.0,0.00,0.000000,8.0,13.407450,8734.00,86502.63,NaN,680.0,0.001638,14,0
781061,0,52,1464.0,0.50,0.666667,314.0,9.778903,5134.75,51154.72,NaN,637.0,0.003003,8,0
781062,0,42,1283.0,1.00,1.000000,489.0,4.148533,2778.33,26576.02,NaN,590.0,0.005682,5,0
781063,0,43,1262.0,0.00,0.000000,516.0,4.604418,2692.00,26700.50,NaN,666.0,0.001991,11,0
781064,0,45,1377.0,1.00,1.000000,398.0,61.155221,6459.83,73360.03,NaN,596.0,0.005278,5,0
781065,0,53,1585.0,0.00,0.000000,193.0,10.169668,2720.00,26599.38,NaN,686.0,0.001513,0,0
781066,0,48,1409.0,0.00,0.000000,369.0,7.521049,5317.00,50684.57,NaN,683.0,0.001583,0,0
781067,0,38,1431.0,0.00,0.000000,334.0,7.310889,4908.00,47056.68,NaN,685.0,0.001532,0,0
781068,0,52,1478.0,0.00,0.500000,296.0,9.994237,5390.00,51532.90,NaN,674.0,0.001794,12,0
781069,0,50,1375.0,0.00,0.000000,399.0,61.155097,9854.00,102896.93,NaN,671.0,0.001870,12,0
781070,0,39,1424.0,0.00,0.000000,341.0,7.457708,4764.00,46623.19,NaN,685.0,0.001532,0,0
781071,0,44,579.0,0.00,0.000000,1193.0,6.330484,960.00,10163.82,NaN,576.0,0.006896,4,6
781072,0,54,1648.0,0.00,0.000000,125.0,11.215795,2262.90,21631.50,NaN,683.0,0.001569,0,0
781073,0,55,1681.0,0.00,0.000000,92.0,11.666417,4662.60,46331.67,NaN,691.0,0.001406,0,0
781074,0,50,1464.0,0.00,0.000000,309.0,8.836751,6026.24,58490.09,NaN,684.0,0.001555,0,0
781075,0,27,1157.0,0.00,0.000000,608.0,0.313051,0.00,2223.51,NaN,660.0,0.002163,10,9
781076,0,55,1675.0,0.00,0.000000,97.0,61.155097,11749.00,114009.90,NaN,680.0,0.001638,14,0
781077,0,57,1620.0,0.00,0.000000,152.0,12.689005,8337.00,81287.22,NaN,680.0,0.001638,14,0
781078,0,42,1548.0,0.00,0.000000,217.0,9.592302,3600.00,35944.56,NaN,690.0,0.001437,0,0
781080,0,34,864.0,0.00,0.000000,901.0,33.249203,5457.60,60105.39,NaN,628.0,0.003374,7,7
781081,0,39,1461.0,0.00,0.000000,304.0,7.920129,5317.00,50978.07,NaN,688.0,0.001468,0,0
781082,0,38,1422.0,0.00,0.000000,343.0,7.249334,3537.34,36219.88,NaN,684.0,0.001566,0,0

In [105]:
oot_.to_csv('oot_bd.csv')

In [106]:
pct_rank_qcut(oot_,'score',15)

In [255]:
pct_rank_qcut(oot_,'last_pay_days',10)

In [257]:
pct_rank_qcut(oot_,'recent_first_days',10)

In [258]:
pct_rank_qcut(oot_,'self_FR_get_SR_get_prop_6m',10)

In [259]:
pct_rank_qcut(oot_,'fp_camt_pct',10)

In [260]:
pct_rank_qcut(oot_,'o_interest',10)

In [261]:
pct_rank_qcut(oot_,'self_FR_get_SR_get_prop_tt',10)

In [263]:
oot_

,default,zl,last_pay_days,self_FR_get_SR_get_prop_6m,self_FR_get_SR_get_prop_tt,recent_first_days,fp_camt_pct,o_interest,o_total_amount,return_amt,score,p,score_bin,last_pay_days_bin,recent_first_days_bin,self_FR_get_SR_get_prop_6m_bin,fp_camt_pct_bin,o_interest_bin,self_FR_get_SR_get_prop_tt_bin
17707,0,2,81.0,0.96,0.967742,822.0,1.121964,335.76,5444.95,NaN,274.0,0.315302,1,1,0,8,1,1,7
17738,0,2,52.0,1.00,1.000000,973.0,1.119498,160.15,5443.22,NaN,273.0,0.316987,1,1,0,9,1,1,9
17812,0,2,62.0,1.00,1.000000,856.0,1.072156,472.82,8656.00,NaN,272.0,0.319896,1,1,0,9,1,1,9
17815,0,2,52.0,1.00,1.000000,973.0,1.121009,208.38,7077.57,NaN,274.0,0.315312,1,1,0,9,1,1,9
17821,0,2,66.0,1.00,1.000000,898.0,1.121944,397.83,8711.89,NaN,273.0,0.317744,1,1,0,9,1,1,9
17829,0,2,8.0,1.00,1.000000,895.0,0.385040,252.00,4911.89,NaN,259.0,0.360171,1,1,0,9,1,1,9
17874,1,2,68.0,1.00,1.000000,942.0,1.072162,224.80,7574.00,1100.00,273.0,0.316221,1,1,0,9,1,1,9
17891,0,2,67.0,1.00,1.000000,958.0,1.121964,160.29,5444.95,NaN,273.0,0.318705,1,1,0,9,1,1,9
17917,1,2,3.0,1.00,1.000000,900.0,0.376742,180.46,4309.21,3900.00,259.0,0.361202,1,1,0,9,1,1,9
17918,0,2,83.0,1.00,1.000000,820.0,1.121944,537.20,8711.89,NaN,274.0,0.315290,1,1,0,9,1,2,9
17932,1,1,46.0,1.00,0.900000,857.0,0.370118,188.19,3106.28,6473.85,269.0,0.330099,1,1,0,9,1,1,7
17934,0,1,22.0,1.00,0.500000,1003.0,0.360070,82.67,3097.82,NaN,258.0,0.362601,1,1,0,9,1,1,6
17942,1,1,7.0,1.00,1.000000,1003.0,0.011616,0.00,683.81,1863.11,258.0,0.363763,1,1,0,9,1,1,9
17980,0,2,68.0,1.00,1.000000,850.0,1.072153,263.18,4869.00,NaN,274.0,0.315761,1,1,0,9,1,1,9
17994,1,1,37.0,1.00,1.000000,973.0,0.345225,68.37,2571.10,7218.67,267.0,0.335728,1,1,0,9,1,1,9
17998,0,2,80.0,1.00,1.000000,823.0,1.121944,537.20,8711.89,NaN,274.0,0.315290,1,1,0,9,1,2,9
18015,1,2,68.0,1.00,1.000000,942.0,1.072159,238.22,8115.00,2000.00,274.0,0.315958,1,1,0,9,1,1,9
18029,1,1,52.0,1.00,1.000000,973.0,0.370106,62.00,2329.70,2600.00,273.0,0.316987,1,1,0,9,1,1,9
18056,0,1,41.0,1.00,1.000000,984.0,0.370106,62.22,2329.70,NaN,268.0,0.331705,1,1,0,9,1,1,9
18081,0,2,83.0,1.00,1.000000,820.0,1.121964,335.76,5444.95,NaN,274.0,0.315302,1,1,0,9,1,1,9
18090,0,1,49.0,1.00,1.000000,976.0,0.370111,69.13,2588.56,NaN,268.0,0.331520,1,1,0,9,1,1,9
18096,0,1,52.0,1.00,1.000000,973.0,0.370111,69.07,2588.56,NaN,273.0,0.316987,1,1,0,9,1,1,9
18149,0,2,68.0,1.00,1.000000,942.0,1.072156,254.10,8656.00,NaN,274.0,0.315958,1,1,0,9,1,1,9
18193,0,1,37.0,0.00,1.000000,577.0,0.345217,757.81,5656.41,NaN,269.0,0.330716,1,1,9,4,1,2,9
18207,0,1,52.0,1.00,1.000000,455.0,0.370118,336.96,2070.85,NaN,275.0,0.311332,1,1,7,9,1,1,9
18222,0,1,45.0,1.00,1.000000,493.0,0.370109,642.91,4141.69,NaN,270.0,0.328138,1,1,8,9,1,2,9
18248,0,2,37.0,1.00,1.000000,577.0,1.071515,1699.39,12982.92,NaN,269.0,0.331064,1,1,9,9,1,3,9
18292,0,2,83.0,1.00,1.000000,455.0,1.121957,1649.51,10889.89,NaN,275.0,0.312768,1,1,7,9,1,3,9
18304,0,1,37.0,1.00,1.000000,577.0,0.345211,480.19,3599.52,NaN,269.0,0.330989,1,1,9,9,1,1,9
18307,0,2,68.0,0.75,0.857143,546.0,1.072171,1411.52,10820.03,NaN,274.0,0.313994,1,1,8,8,1,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
781052,0,34,857.0,0.00,0.000000,924.0,27.928479,3335.20,35335.78,NaN,623.0,0.003629,6,7,0,4,7,5,3
781053,0,47,1401.0,0.00,0.000000,380.0,6.506100,3493.60,34444.83,NaN,681.0,0.001618,0,0,7,4,3,5,3
781054,0,41,1262.0,0.00,1.000000,518.0,3.382380,1215.34,13367.54,NaN,635.0,0.003058,7,0,8,4,2,3,9
781055,0,55,1688.0,0.00,0.000000,92.0,11.476381,8180.00,77906.79,NaN,691.0,0.001406,0,0,2,4,5,9,3
781056,0,41,1379.0,0.00,0.000000,400.0,7.932157,4160.00,41645.63,NaN,680.0,0.001641,14,0,7,4,4,6,3
781057,0,48,1467.0,0.00,1.000000,306.0,7.674535,5317.00,50797.45,NaN,655.0,0.002341,10,0,6,4,4,7,9
781058,0,36,914.0,0.00,0.000000,864.0,0.000000,0.00,1080.47,NaN,635.0,0.003053,7,8,0,4,1,1,3
781059,0,40,1198.0,0.00,0.000000,580.0,2.892717,2045.00,19494.07,NaN,663.0,0.002082,11,9,9,4,2,4,3
781060,0,58,1766.0,0.00,0.000000,8.0,13.407450,8734.00,86502.63,NaN,680.0,0.001638,14,0,1,4,5,9,3
781061,0,52,1464.0,0.50,0.666667,314.0,9.778903,5134.75,51154.72,NaN,637.0,0.003003,8,0,6,8,4,7,7
781062,0,42,1283.0,1.00,1.000000,489.0,4.148533,2778.33,26576.02,NaN,590.0,0.005682,5,0,8,9,3,5,9
781063,0,43,1262.0,0.00,0.000000,516.0,4.604418,2692.00,26700.50,NaN,666.0,0.001991,11,0,8,4,3,4,3
781064,0,45,1377.0,1.00,1.000000,398.0,61.155221,6459.83,73360.03,NaN,596.0,0.005278,5,0,7,9,0,8,9
781065,0,53,1585.0,0.00,0.000000,193.0,10.169668,2720.00,26599.38,NaN,686.0,0.001513,0,0,4,4,4,4,3
781066,0,48,1409.0,0.00,0.000000,369.0,7.521049,5317.00,50684.57,NaN,683.0,0.001583,0,0,7,4,4,7,3
781067,0,38,1431.0,0.00,0.000000,334.0,7.310889,4908.00,47056.68,NaN,685.0,0.001532,0,0,6,4,4,7,3
781068,0,52,1478.0,0.00,0.500000,296.0,9.994237,5390.00,51532.90,NaN,674.0,0.001794,12,0,5,4,4,7,6
781069,0,50,1375.0,0.00,0.000000,399.0,61.155097,9854.00,102896.93,NaN,671.0,0.001870,12,0,7,4,0,0,3
781070,0,39,1424.0,0.00,0.000000,341.0,7.457708,4764.00,46623.19,NaN,685.0,0.001532,0,0,6,4,4,7,3
781071,0,44,579.0,0.00,0.000000,1193.0,6.330484,960.00,10163.82,NaN,576.0,0.006896,4,6,0,4,3,2,3
781072,0,54,1648.0,0.00,0.000000,125.0,11.215795,2262.90,21631.50,NaN,683.0,0.001569,0,0,3,4,5,4,3
781073,0,55,1681.0,0.00,0.000000,92.0,11.666417,4662.60,46331.67,NaN,691.0,0.001406,0,0,2,4,5,7,3
781074,0,50,1464.0,0.00,0.000000,309.0,8.836751,6026.24,58490.09,NaN,684.0,0.001555,0,0,6,4,4,8,3
781075,0,27,1157.0,0.00,0.000000,608.0,0.313051,0.00,2223.51,NaN,660.0,0.002163,10,9,9,4,1,1,3
781076,0,55,1675.0,0.00,0.000000,97.0,61.155097,11749.00,114009.90,NaN,680.0,0.001638,14,0,2,4,0,0,3
781077,0,57,1620.0,0.00,0.000000,152.0,12.689005,8337.00,81287.22,NaN,680.0,0.001638,14,0,3,4,5,9,3
781078,0,42,1548.0,0.00,0.000000,217.0,9.592302,3600.00,35944.56,NaN,690.0,0.001437,0,0,4,4,4,5,3
781080,0,34,864.0,0.00,0.000000,901.0,33.249203,5457.60,60105.39,NaN,628.0,0.003374,7,7,0,4,9,7,3
781081,0,39,1461.0,0.00,0.000000,304.0,7.920129,5317.00,50978.07,NaN,688.0,0.001468,0,0,6,4,4,7,3
781082,0,38,1422.0,0.00,0.000000,343.0,7.249334,3537.34,36219.88,NaN,684.0,0.001566,0,0,6,4,4,5,3

In [264]:
oot_.to_csv('oot_var.csv')

In [107]:
score_fb_ = score_fb(oot_,'score','score_bin')
score_fb_

,var_name,value,value_min,value_max,bin_n,bin_good_n,bin_bad_n,bin_rate,bad_rate,qujian,avg
1,score_bin,1,258.0,392.0,45260,38700,6560,0.06706963772615257,0.1449403446752099,"[258.0,392.0]",0.014662
2,score_bin,2,393.0,462.0,44476,43259,1217,0.06590784815528859,0.027363072218724707,"[393.0,462.0]",0.014662
3,score_bin,3,463.0,542.0,45199,44613,586,0.06697924338454198,0.01296488860373017,"[463.0,542.0]",0.014662
4,score_bin,4,543.0,585.0,45687,45328,359,0.06770239811742669,0.007857815133407752,"[543.0,585.0]",0.014662
5,score_bin,5,586.0,605.0,44263,44038,225,0.06559220889687783,0.005083252377832501,"[586.0,605.0]",0.014662
6,score_bin,6,606.0,624.0,44014,43864,150,0.06522322215817232,0.0034080065433725634,"[606.0,624.0]",0.014662
7,score_bin,7,625.0,636.0,46506,46347,159,0.06891605329413282,0.0034189136885563153,"[625.0,636.0]",0.014662
8,score_bin,8,637.0,647.0,47449,47317,132,0.07031346090296538,0.0027819342873400916,"[637.0,647.0]",0.014662
9,score_bin,9,648.0,654.0,40759,40660,99,0.060399720814853126,0.002428911406069825,"[648.0,654.0]",0.014662
10,score_bin,10,655.0,662.0,49048,48950,98,0.07268297815272494,0.0019980427336486707,"[655.0,662.0]",0.014662
11,score_bin,11,663.0,669.0,45666,45582,84,0.06767127875392141,0.0018394429115753514,"[663.0,669.0]",0.014662
12,score_bin,12,670.0,675.0,40978,40906,72,0.06072425131997967,0.001757040363121675,"[670.0,675.0]",0.014662
13,score_bin,13,676.0,679.0,36638,36589,49,0.05429291619555408,0.0013374092472296522,"[676.0,679.0]",0.014662
14,score_bin,14,680.0,680.0,94853,94751,102,0.1405602374555623,0.0010753481703267161,"[680.0,680.0]",0.014662
0,score_bin,0,681.0,692.0,4025,4023,2,0.005964544671846312,0.0004968944099378882,"[681.0,692.0]",0.014662

In [108]:
score_fb_.to_csv('oot_score.csv')

In [111]:
data = pd.concat([train,test])

In [112]:
data.to_csv('data.csv')

In [113]:
data.shape

(649342, 12)

In [24]:
train

NameError: name 'train' is not defined

## 统计树

## M12

In [246]:
#分账龄建模 - m1-m2 - 使用相同变量
train_m12 = train_df[train_df['zl'].isin([1,2])][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]
test_m12 = test_df[test_df['zl'].isin([1,2])][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]
oot_m12 = oot[oot['zl'].isin([1,2])][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]
print(train_m12.shape,test_m12.shape,oot_m12.shape)
print(train_m12['default'].value_counts(normalize=True),test_m12['default'].value_counts(normalize=True),oot_m12['default'].value_counts(normalize=True))

(26014, 10) (6499, 10) (32598, 10)
0    0.857577
1    0.142423
Name: default, dtype: float64 0    0.860902
1    0.139098
Name: default, dtype: float64 0    0.85177
1    0.14823
Name: default, dtype: float64

In [247]:
booster= joblib.load(r'm12.m')

In [248]:
X_train = train_m12.drop(['default','zl','o_total_amount','return_amt'],axis=1)
#xgb_train =  xgb.DMatrix(X_train,label=train_m12.default)
#xgb_test = xgb.DMatrix(test_m12[X_train.columns],label=test_m12.default)
xgb_oot = xgb.DMatrix(oot_m12[X_train.columns],label=oot_m12.default)

In [249]:
#preds=booster.predict(xgb_train,ntree_limit = booster.best_ntree_limit)
#preds2=booster.predict(xgb_test,ntree_limit = booster.best_ntree_limit)
preds3=booster.predict(xgb_oot,ntree_limit = booster.best_ntree_limit,pred_leaf=True)

In [161]:
preds3 = pd.DataFrame(preds3)
d = pd.DataFrame(oot_m12.default).reset_index(drop=True)

In [162]:
oot_12_leaf = pd.concat([preds3,d],axis = 1,ignore_index=True)

In [163]:
oot_12_leaf.to_csv('m12_leaf.csv')

In [251]:
preds3=booster.predict(xgb_oot,ntree_limit = booster.best_ntree_limit,pred_contribs=True)

In [253]:
z = sum(preds3[0])
z

-0.7754466672777198

## M36

In [164]:
train_m36 = train_df[train_df['zl'].isin ([3,4,5,6])][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]
test_m36 = test_df[test_df['zl'].isin ([3,4,5,6])][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]
oot_m36 = oot[oot['zl'].isin ([3,4,5,6])][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]

In [165]:
print(train_m36.shape,test_m36.shape,oot_m36.shape)
print(train_m36['default'].value_counts(normalize=True),test_m36['default'].value_counts(normalize=True),oot_m36['default'].value_counts(normalize=True))

(49978, 10) (12677, 10) (60437, 10)
0    0.97711
1    0.02289
Name: default, dtype: float64 0    0.97602
1    0.02398
Name: default, dtype: float64 0    0.973791
1    0.026209
Name: default, dtype: float64

In [166]:
booster= joblib.load(r'm36.m')

In [172]:
X_train = train_m36.drop(['default','o_total_amount','return_amt','zl'],axis=1)
#xgb_train =  xgb.DMatrix(X_train,label=train_m36.default)
#xgb_test = xgb.DMatrix(test_m36[X_train.columns],label=test_m36.default)
xgb_oot = xgb.DMatrix(oot_m36[X_train.columns],label=oot_m36.default)
#preds=booster.predict(xgb_train,ntree_limit = booster.best_ntree_limit)
#preds2=booster.predict(xgb_test,ntree_limit = booster.best_ntree_limit)
preds3=booster.predict(xgb_oot,ntree_limit = booster.best_ntree_limit,pred_leaf=True)

In [173]:
preds3 = pd.DataFrame(preds3)
d = pd.DataFrame(oot_m36.default).reset_index(drop=True)

In [174]:
oot_36_leaf = pd.concat([preds3,d],axis = 1,ignore_index=True)
oot_36_leaf

       0   1   2   3   4   5   6   7   8   9   10
0       6   1   6   6  10   4   4   4   3   4   0
1       6   1   6   8  10   5   4   6   3   4   0
2       6   1   6   6  10   4   4   4   3   4   0
3       6   1   6   6  10   4   4   4   3   4   0
4       6   1   6   6  10   4   4   4   3   4   0
5       6   1   6   6  10   4   4   4   3   4   0
6       6   1   6   6  10   4   4   4   3   4   0
7       6   1   8   8  10   5   4   6   3   3   0
8       6   1   6   8  10   5   4   6   3   4   0
9       6   1   8   8  10   5   4   6   3   3   0
10      6   1   8   8  10   5   4   6   3   3   0
11      6   4   6   6  10   4   4   4   4   4   0
12      6   1   8   8  10   5   4   6   3   3   0
13      6   1   6   6  10   4   4   4   3   4   0
14      6   1   6   8  10   5   4   6   3   4   0
15      4   1   3   3   3   1   4   1   3   1   1
16      4   1   3   3   3   1   4   1   3   1   0
17      6   4   6   6  10   4   4   4   4   4   0
18      6   1   6   6  10   4   4   4   3   4   0
19      6   1   6   6  10   4   4   4   3   4   0
20      6   1   8   8  10   5   4   6   3   3   0
21      6   1   6   6  10   4   4   4   3   4   0
22      6   1   6   6  10   4   4   4   3   4   0
23      6   1   6   6  10   4   4   4   3   4   0
24      6   1   8   8  10   5   4   6   3   3   0
25      6   1   6   6  10   4   4   4   3   4   0
26      4   1   3   3   3   1   4   1   3   1   0
27      6   1   6   6  10   4   4   4   3   4   0
28      6   1   8   8  10   5   4   6   3   3   0
29      6   1   6   6  10   4   4   4   3   4   0
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
60407   3   1   4   4   4   1   5   1   1   1   0
60408   6   3   7   7   8   6   1   5   1   3   0
60409   6   1   8   8   8   5   5   6   1   3   0
60410   6   3   8   8   9   5   5   6   1   3   0
60411   6   1   8   8   9   5   5   6   1   3   0
60412   6   3   8   7   8   6   5   5   1   3   0
60413   6   3   8   8   8   6   5   5   1   3   0
60414   6   1   8   8   9   5   6   6   1   3   0
60415   3   3   3   3   3   1   6   1   1   1   0
60416   3   1   4   4   4   1   5   1   1   1   0
60417   6   3   8   7   8   6   5   5   1   3   0
60418   3   1   3   3   3   1   5   1   1   1   0
60419   5   3   8   8   9   6   6   6   1   3   0
60420   6   1   8   8   9   5   6   6   1   3   0
60421   6   1   8   8   9   5   6   6   1   3   0
60422   6   3   8   8   9   6   5   6   1   3   0
60423   6   3   8   7   8   6   5   5   1   3   0
60424   6   1   8   8   9   5   6   6   1   3   0
60425   3   3   4   4   4   1   1   1   1   1   0
60426   6   3   8   8   8   6   5   5   1   3   0
60427   6   1   8   8   9   5   6   6   1   3   0
60428   6   1   8   8   9   5   6   6   1   3   0
60429   3   3   3   3   3   1   5   1   1   1   0
60430   3   1   3   3   3   1   6   1   1   1   0
60431   6   3   8   8   8   5   5   5   1   3   0
60432   6   1   8   8   9   5   6   6   1   3   0
60433   6   1   8   8   9   5   6   6   1   3   0
60434   6   1   8   8   9   5   6   6   1   3   1
60435   6   1   6   6  10   4   4   4   3   4   0
60436   6   1   8   8   8   5   4   5   3   3   0

[60437 rows x 11 columns]

In [175]:
oot_36_leaf.to_csv('m36_leaf.csv')

## M7

In [180]:
#分账龄建模 - m7+ - 使用相同变量
train_m7 = train_df[train_df['zl']>6][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]
test_m7 = test_df[test_df['zl']>6][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]
oot_m7 = oot[oot['zl']>6][['default','zl','last_pay_days','self_FR_get_SR_get_prop_6m','self_FR_get_SR_get_prop_tt',
            'recent_first_days','fp_camt_pct','o_interest','o_total_amount','return_amt']]

In [181]:
print(train_m7.shape,test_m7.shape,oot_m7.shape)
print(train_m7['default'].value_counts(normalize=True),test_m7['default'].value_counts(normalize=True),oot_m7['default'].value_counts(normalize=True))

(443481, 10) (110693, 10) (581786, 10)
0    0.993111
1    0.006889
Name: default, dtype: float64 0    0.993062
1    0.006938
Name: default, dtype: float64 0    0.994022
1    0.005978
Name: default, dtype: float64

In [268]:
booster= joblib.load(r'm7.m')

In [186]:
X_train = train_m7.drop(['default','o_total_amount','return_amt','zl'],axis=1)
#xgb_train =  xgb.DMatrix(X_train,label=train_m7.default)
#xgb_test = xgb.DMatrix(test_m7[X_train.columns],label=test_m7.default)
xgb_oot = xgb.DMatrix(oot_m7[X_train.columns],label=oot_m7.default)
#preds=booster.predict(xgb_train,ntree_limit = booster.best_ntree_limit)
#preds2=booster.predict(xgb_test,ntree_limit = booster.best_ntree_limit)
preds3=booster.predict(xgb_oot,ntree_limit = booster.best_ntree_limit,pred_leaf=True)

In [195]:
pd.Series(booster.get_fscore()).sort_values(ascending=False)

last_pay_days                 41
recent_first_days             28
self_FR_get_SR_get_prop_6m    15
fp_camt_pct                   15
self_FR_get_SR_get_prop_tt    14
o_interest                    12
dtype: int64

In [188]:
preds3 = pd.DataFrame(preds3)
d = pd.DataFrame(oot_m7.default).reset_index(drop=True)

In [189]:
oot_7_leaf = pd.concat([preds3,d],axis = 1,ignore_index=True)
oot_7_leaf

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,1,6,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
1,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
2,2,6,8,8,8,9,8,8,6,5,...,2,2,3,2,2,2,2,2,2,0
3,2,6,7,8,8,9,8,8,3,3,...,2,2,3,2,2,2,2,2,2,0
4,1,7,5,1,6,4,6,7,1,1,...,1,1,4,1,1,2,2,2,2,0
5,2,6,8,7,7,10,7,6,6,5,...,2,2,4,2,2,2,1,2,2,0
6,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
7,1,5,8,7,5,4,5,6,6,5,...,1,2,4,2,1,2,1,2,2,0
8,1,5,8,7,5,4,5,5,5,6,...,1,2,3,1,1,2,1,2,2,0
9,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
10,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
11,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
12,1,6,8,8,6,3,6,8,6,5,...,1,2,3,2,1,2,2,2,2,0
13,2,5,8,7,7,10,7,6,6,6,...,2,2,4,2,2,2,1,2,2,0
14,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
15,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
16,1,5,8,7,5,4,5,6,5,6,...,2,2,4,2,1,2,1,2,2,0
17,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
18,2,5,8,7,7,10,7,6,6,6,...,2,2,4,2,2,2,1,2,2,0
19,1,6,8,7,5,4,5,6,6,5,...,1,2,4,2,1,2,1,2,2,0
20,1,6,8,8,6,4,6,7,5,5,...,1,2,3,1,1,2,2,2,2,0
21,2,6,8,7,7,9,7,6,6,6,...,2,2,3,2,2,2,1,2,2,0
22,1,5,8,7,5,4,5,5,5,6,...,2,2,4,1,1,2,1,2,2,0
23,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
24,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
25,2,8,1,1,8,9,8,8,1,1,...,2,1,3,2,2,2,2,2,2,1
26,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
27,2,8,7,8,8,10,8,8,3,3,...,2,2,4,2,2,2,2,2,2,0
28,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
29,1,6,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581756,1,7,8,8,6,4,6,7,5,6,...,1,2,3,1,1,2,2,2,2,0
581757,1,5,8,7,5,4,5,5,5,6,...,1,2,1,1,1,1,1,1,1,0
581758,1,6,8,7,5,3,5,6,6,6,...,1,2,1,2,1,1,1,1,1,0
581759,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,1,1,1,1,0
581760,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,1,1,1,1,0
581761,1,5,8,7,5,4,5,6,6,6,...,1,2,4,2,1,1,1,1,1,0
581762,1,7,8,8,6,3,6,7,5,6,...,1,2,1,1,1,1,2,1,1,0
581763,1,6,8,7,5,3,5,5,5,6,...,1,2,1,1,1,1,1,1,1,0
581764,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
581765,1,5,8,7,5,4,5,6,6,6,...,2,2,4,2,1,1,1,1,1,0
581766,2,6,8,7,7,8,7,6,6,6,...,2,2,1,2,2,1,1,1,1,0
581767,1,6,8,7,5,4,5,5,5,6,...,1,2,1,1,1,1,1,1,1,0
581768,2,5,8,7,7,10,7,6,6,6,...,2,2,4,2,2,2,1,2,2,0
581769,1,5,8,7,5,4,5,5,5,6,...,1,2,3,1,1,1,1,1,1,0
581770,1,5,8,7,5,4,5,5,5,6,...,1,2,1,1,1,1,1,1,1,0
581771,1,5,8,7,5,4,5,5,5,6,...,1,2,1,1,1,1,1,1,1,0
581772,1,5,8,7,5,4,5,6,5,6,...,1,2,4,2,1,1,1,1,1,0
581773,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
581774,1,5,8,7,5,4,5,5,5,6,...,1,2,1,1,1,1,1,1,1,0
581775,1,2,8,8,2,3,2,2,5,6,...,1,2,1,1,1,1,2,1,1,0
581776,1,5,8,7,5,4,5,5,5,6,...,1,2,3,1,1,1,1,1,1,0
581777,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,1,1,1,1,0
581778,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,1,1,1,1,0
581779,1,6,8,7,5,3,5,5,5,6,...,1,2,1,1,1,1,2,1,1,0
581780,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
581781,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,2,1,2,2,0
581782,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,1,1,1,1,0
581783,1,7,8,8,6,4,6,7,5,6,...,1,2,4,1,1,2,2,2,2,0
581784,1,5,8,7,5,4,5,5,5,6,...,1,2,4,1,1,1,1,1,1,0
581785,1,5,8,7,5,4,5,5,5,6,...,1,2,1,1,1,1,1,1,1,0

In [190]:
oot_7_leaf.to_csv('m7_leaf.csv')

In [208]:
preds3=booster.predict(xgb_oot,ntree_limit = booster.best_ntree_limit)
preds3

array([0.00303409, 0.00187012, 0.01591994, ..., 0.00337426, 0.00146783,
       0.00156623], dtype=float32)

In [242]:
preds3=booster.predict(xgb_oot,ntree_limit = booster.best_ntree_limit,pred_contribs=True)

In [243]:
preds3[0]

array([-0.4290399 , -0.23546629, -0.1556057 ,  0.01969631,  0.11725324,
       -0.02614453, -5.0855017 ], dtype=float32)

In [200]:
oot_m7[0:1]

,default,zl,last_pay_days,self_FR_get_SR_get_prop_6m,self_FR_get_SR_get_prop_tt,recent_first_days,fp_camt_pct,o_interest,o_total_amount,return_amt
17650,0,16,507.0,0.0,0.0,518.0,51.790949,3678.75,73598.77,NaN

In [244]:
z = sum(preds3[0])
#p = 1/(1+np.exp(-z))
z

-5.794808527454734

In [237]:
a = booster.get_dump()

## 变量维度

In [267]:
import graphviz